:root {
    --background-color: rgb(31, 33, 37);
    --card-color: rgb(24, 24, 24);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --button-color: rgb(190, 199, 228);
    --sidebar-color: rgb(45, 46, 56);
    --sidebar-border: rgba(255, 255, 255, 0.2);
    --button-animation: 200ms ease;
    --card-text-color: rgb(51, 51, 51);
    --button-grow: translate(0px, 0px) scale(1.1, 1.1);
            

    --Inter: Inter, sans-serif;
    --Switzer: 'Switzer', sans-serif;

    font-family: Inter, sans-serif;
    font-family: 'Switzer', sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: white;
    margin: 0;
}

/* sidebar navigation */

.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--sidebar-border);
    border-left: none;
    height: 99.5%;
    width: 20rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--sidebar-color);
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    z-index: 10;
    overflow: auto;
    transition: all 200ms ease;
}

.sidebar-icon {
    max-width: fit-content;
    margin-top: 12px;
    margin-left: 20px;
    padding: 8px;
    border-radius: 10px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.sidebar-icon:hover {
    background-color: var(--button-color);
    color: var(--card-text-color);
}

.top-container {
    display: none;
    justify-content: center;
    gap: 24px;
    padding-top: 40px;
    padding-bottom: 40px;
}

.rocket-league, .counter-strike{
    overflow: hidden;
    border-radius: 8px;
    width:  6rem;
    height: 6rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    background-color: var(--background-color);
    cursor: pointer;
    transition: 200ms ease;
}

.rl-img, .cs-img {
    filter: invert(100%);
}

.counter-strike:hover {
    background-color: var(--button-color);
    transition: 200ms ease;
    border: 2px solid rgba(0, 0, 0, 0.4);
    .cs-img {
        filter: invert(20%);
    }
}

.rocket-league:hover {
    background-color: var(--button-color);
    transition: 200ms ease;
    border: 2px solid rgba(0, 0, 0, 0.4);
    .rl-img {
        filter: invert(20%);
    }
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    gap: 24px;
    padding-top: 40px;
}

.sidebar-elements {
    display: flex;
    padding-left: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    color: rgb(41, 41, 41);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    background-color: var(--button-color);
    transition: var(--button-animation);
    cursor: pointer;
}

h3 {
    font-size: 1.1rem;
    font-family: var(--Inter);
    font-weight: 500;
}

.sidebar-elements:hover {
    background-color: var(--background-color);
    color: rgb(245, 245, 245);
    border: 1px solid var(--sidebar-border);
    transition: var(--button-animation);
}

.sidebar.active {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--sidebar-border);
    border-left: none;
    height: 99.5%;
    width: 5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--sidebar-color);
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    z-index: 10;
    overflow: auto;
    transition: all 200ms ease;

    .top-container {
        display: none;
        flex-direction: column;
        align-items: center;
    }

    .rocket-league, .counter-strike{
        overflow: hidden;
        object-fit: scale-down;
        border-radius: 8px;
        width:  3rem;
        height: 3rem;
        border: 2px solid rgba(255, 255, 255, 0.4);
        background-color: var(--background-color);
        cursor: pointer;
        transition: 200ms ease;
        
    }

    .rl-img, .cs-img {
        filter: invert(100%);
        width: 2rem;
        height: auto;
    }
    
    .counter-strike:hover {
        background-color: var(--button-color);
        transition: 200ms ease;
        border: 2px solid rgba(0, 0, 0, 0.4);
        .cs-img {
            filter: invert(20%);
        }
    }
    
    .rocket-league:hover {
        background-color: var(--button-color);
        transition: 200ms ease;
        border: 2px solid rgba(0, 0, 0, 0.4);
        .rl-img {
            filter: invert(20%);
        }
    }

    .sidebar-body {
        display: flex;
        flex-direction: column;
        padding-left: 16px;
        padding-right: 24px;
        padding-top: 40px;
        gap: 24px;
    }

    .sidebar-elements {
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        align-items: flex-start;
        justify-content: center;
        color: rgb(41, 41, 41);
        border: 1px solid rgba(0, 0, 0, 0);
        border-radius: 6px;
        background-color: var(--button-color);
        transition: var(--button-animation);
        cursor: pointer;
    }

    .sidebar-elements:hover {
        background-color: var(--background-color);
        color: rgb(245, 245, 245);
        border: 1px solid var(--sidebar-border);
        transition: var(--button-animation);
    }

    h3 {
        display: none;
    }
}



/* search box */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-left: 80px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    cursor: pointer;
    transition: 200ms ease;
}

.search-button:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}

.search-icon {
    width: 2rem;
    height: 2rem;
}

.search-text {
    font-size: 1.1rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: white;
}


/* bento box area */

.grid-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: minmax(1rem, 20rem);
    grid-auto-flow: auto;
    grid-gap: 20px;
    padding-top: 80px;
    padding-left: 120px;
}

.grid-container section {
    border-radius: 24px;
    color: var(--card-text-color);
    background-color: var(--button-color);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    z-index: 1;
}



/* Fullscreen search dialog */

.fullscreen-search-container {
    display: none;
}

.fullscreen-search-container.active {
    display: flex;
    overflow: auto;
    position: absolute;
    padding-top: 6.7rem;
    align-items: center;
    flex-direction: column;
    background-color: rgba(18, 19, 22, 0.8);
    width: 100%;
    height: 100%;
    z-index: 20;


    .search-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .search-icon-2 {
        cursor: pointer;
    }

    .x-icon {
        cursor: pointer;
    }

    .search-box {
        position: relative;
        background-color: var(--sidebar-color);
        color: rgb(236, 236, 236);
        border: none;
        padding: 1.5rem;
        border-radius: 0.7rem;
        width: 30vw;
        height: 4rem;
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
    }

    .search-box::placeholder {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
    }

    .search-box:focus {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
        color: rgb(236, 236, 236);
        outline: none;
    }

    .results-container {
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8rem;
        margin-top: 100px;
        width: 95%;
        height: 50%;
        border-radius: 0.7rem;
    }

    .results-card-container {
        border-radius: 0.7rem;
        display: flex;
        flex-direction: column;
    }

    .results-box {
        background-color: rgb(34, 35, 43);
        border-radius: 0.7rem;
        display: grid;
        width: 320px;
        height: auto;
        overflow: hidden;
    }

    .results-card-text {
        font-family: var(--Inter);
        font-size: 1.3rem;
        font-weight: 600;
    }

    .results-card-p {
        font-family: var(--Inter);
        font-size: 1rem;
        padding-top: 1rem;
        padding-left: 1rem;
        display: grid;
        height: 100%;
        margin-top: 0;
        cursor: pointer;
    }

    .results-card-p:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        font-weight: 600;
    }

    span .results-card-p {
        font-size: 0.9rem;
    }

    @media all and (max-width: 1600px) {
        .search-box {
            width: 40vw;
        }

        .results-container {
            gap: 3rem;
        }
        
    }

    @media all and (max-width: 840px) {
        .search-box {
            width: 70vw;
        }
    }
}



/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 @media all and (max-width: 1530px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 15rem);
        grid-auto-rows: minmax(1rem, 15rem);
    }
 }

 @media all and (min-width: 768px) and (max-width: 1024px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 14rem);
        grid-auto-rows: minmax(1rem, 14rem);
    }
 }
 
 @media all and (min-width: 480px) and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 13rem);
        grid-auto-rows: minmax(1rem, 13rem);
    }
  }
 
 @media all and (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
        padding-left: 80px;
    }
  }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
        padding-left: 80px;
    }
  }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
        padding-left: 80px;
    }
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }