:root {
    --background-color: rgb(31, 33, 37);
    --card-color: rgb(24, 24, 24);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --button-color: rgb(190, 199, 228);
    --sidebar-color: rgb(45, 46, 56);
    --sidebar-border: rgba(255, 255, 255, 0.2);
    --button-animation: 200ms ease;
    --card-grow-before: translate3D(0,-1px,0) scale(1.00);
    --card-grow-after: translate3D(0,-1px,0) scale(1.03);
    --card-shrink-before: translate3D(0,-1px,0) scale(0.90);
    --card-text-color: rgb(51, 51, 51);
    --button-grow: translate(0px, 0px) scale(1.1, 1.1);

    --Inter: Inter, sans-serif;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    transition: all 70ms ease;
    backdrop-filter: blur(7px);
    background-color: var(--card-color);
    color: white;
    margin-top: 10px;
}

body.active {
    transition: all 70ms ease;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height: 100vh;
}

.content-container {
    margin-left: 90px;
    border: 1px solid var(--sidebar-border); 
    border-radius: 24px;
    border-bottom-left-radius: 20px;
    background-color: var(--background-color);
    overflow: auto;
    height: 98vh;
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
}

/* sidebar navigation */

.sidebar-icon {
    max-width: fit-content;
    margin-top: 12px;
    margin-left: 19px;
    padding: 8px;
    border-radius: 12px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.sidebar-icon:hover {
    background-color: var(--button-color);
    color: var(--card-text-color);
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 24px;
    gap: 24px;
}

.sidebar-body .feather {
    min-height: 24px;
    min-width: 24px;
}

.sidebar-body a:hover {
    background-color: var(--background-color);
    color: rgb(245, 245, 245);
    border: 1px solid var(--sidebar-border);
    transition: var(--button-animation);
}

.sidebar-body a:hover .tooltip {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 25;
    background-color: var(--card-color);
    color: var(--button-color);
    left: 72px;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--sidebar-border);
    height: 98vh;
    width: 5rem;
    border-radius: 24px;
    background-color: var(--sidebar-color);
    box-shadow: none;
    z-index: 10;
    transition: all 200ms ease;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 24px;
    padding-top: 20px;
    gap: 24px;
}

.sidebar-body a {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 12px;
    color: rgb(41, 41, 41);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    background-color: var(--button-color);
    transition: var(--button-animation);
    cursor: pointer;
    text-decoration: none;
}

.sidebar-body a:hover {
    background-color: var(--background-color);
    color: rgb(245, 245, 245);
    border: 1px solid var(--sidebar-border);
    transition: var(--button-animation);
}

h3 {
    display: none;
}

.sidebar.active {
    width: 20rem;
    transition: all 200ms ease;
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);

    h3 {
        display: flex;
        font-size: 1.1rem;
        font-family: var(--Inter);
        font-weight: 600;
        padding-left: 0.6rem;
    }

    .sidebar-body a {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .sidebar-body a:hover .tooltip {
        display: none;
    }
}


/* search button */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: 200ms ease;
}

.search-button:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}

.search-icon {
    width: 2rem;
    height: 2rem;
}

.search-text {
    font-size: 1.1rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: white;
}


/* bento box area */

.grid-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: minmax(1rem, 20rem);
    grid-auto-flow: auto;
    grid-gap: 20px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.grid-container section {
    border-radius: 24px;
    color: var(--card-text-color);
    background-color: var(--button-color);
    display: flex;
    overflow: hidden;
}

.card-text {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.results, .teams, .events, .players {
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    z-index: 5;
    position: relative;
    transition: all 150ms;
    transform: var(--card-grow-before);
}

.results:hover, .teams:hover, .events:hover, .players:hover {
    transition: all 150ms;
    transform: var(--card-grow-after);
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
}

.results:active, .teams:active, .events:active, .players:active {
    transition: all 100ms;
    transform: var(--card-grow-before);
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
}

.index-card-blur {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 20;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: var(--button-color);
    font-weight: 800;
    cursor: pointer;
    border: 2px solid var(--sidebar-border);
    border-radius: 24px;
}

.players a, .teams a, .events a, .results-redirect {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 21;
}

@keyframes results {
    0% {
      transform: translateX(20px);
    }
    100% {
      transform: translateX(-470px);
    }
}

@keyframes events {
    0% {
      transform: translateY(-250px);
    }
    100% {
      transform: translateY(250px);
    }
}

@keyframes players {
    0% {
      transform: translateY(400px);
    }
    100% {
      transform: translateY(900px);
    }
}

.results-container-index {
    animation: results 20s linear infinite;
}

.events-container-index {
    animation: events 20s linear infinite;
}

.teams-container-index {
    animation: events 20s linear infinite;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 16px;
}

.results-wrapper {
    display: flex;
    justify-content: flex-start;
}

.img-line-container img {
    height: 50px;
    width: 50px;
    background-color: rgb(66, 67, 82);
    border-radius: 4px;
    padding: 8px;
    border: 1px solid var(--sidebar-border);
}

.team-score-wrapper {
    display: flex;
    gap: 0.5rem;
    padding-left: 1rem;
    padding-right: 3rem;
    border-right: 3px solid var(--card-text-color);
}

.team-blue-name, .team-orange-name {
    font-size: 1rem;
    font-weight: 700;
    color: var(--card-text-color);
}

.results-score {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--card-text-color);
}

.score-line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.2rem;
}

.img-line-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.name-line-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.event-wrapper-index img, .team-wrapper-index img, .player-wrapper-index img {
    height: 50px;
    width: 50px;
    background-color: rgb(66, 67, 82);
    border-radius: 4px;
    padding: 8px;
    border: 1px solid var(--sidebar-border);
}

.event-wrapper-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 1rem;
}

.team-wrapper-index {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.event-name-index, .team-name-index, .player-tag-index {
    display: flex;
    justify-content: center;
    font-size: 1.1rem;
    font-weight: 700;
    margin-left: 16px;
    margin-right: 16px;
    text-align: center;
    gap: 3rem;
}

.players-container-index {
    animation: players 20s linear infinite;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player-wrapper-index {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-left: 16px;
}


/* FEATURED SECTION */

.featured-events-heading, .featured-players-heading, .featured-teams-heading {
    font-size: 1.3rem;
    font-weight: 600;
    position: absolute;
    top: -40px;
    left: 12px;
    color: rgb(219, 227, 252);
}

.featured-elements {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.featured-events, .featured-teams, .featured-players {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.9rem;
    margin-top: 40px;
    margin-bottom: 80px;
}

.featured-player-wrapper-index, .featured-team-wrapper-index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 360px;
    height: 75px;
    gap: 0.7rem;
    align-items: center;
    padding: 0.7rem;
    border: 1px solid var(--sidebar-border);
    border-radius: 0.7rem;
    transition: 150ms all;
    transform: var(--card-grow-before);
    background-color: rgb(35, 35, 43);
}

.featured-event-wrapper-index {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    width: 720px;
    height: 40px;
    gap: 0.7rem;
    align-items: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    transition: 150ms all;
    transform: var(--card-grow-before);
    background-color: rgb(57, 58, 70);
}

.featured-team-wrapper-index a, .featured-event-wrapper-index a {
    position: absolute;
    width: 100%;
    height: 100%;
}

.featured-player-wrapper-index img, .featured-team-wrapper-index img {
    height: 50px;
    width: 50px;
    background-color: rgb(66, 67, 82);
    border-radius: 0.5rem;
    padding: 8px;
}

.featured-event-wrapper-index img {
    height: 35px;
    width: 35px;
}

.featured-player-name-index, .featured-team-name-index {
    font-size: 1rem;
    font-weight: 500;
    color: var(--button-color);
}

.featured-event-name-index {
    font-size: 1rem;
    font-weight: 500;
    color: rgb(204, 206, 224);
}

.featured-event-wrapper-index:hover, .featured-player-wrapper-index:hover, .featured-team-wrapper-index:hover {
    transition: 150ms all;
    transform: var(--card-grow-after);
    background-color: var(--button-color);
    cursor: pointer;
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);

    .featured-event-name-index, .featured-player-name-index, .featured-team-name-index {
        color: var(--card-text-color);
    }
}

.featured-event-wrapper-index:active, .featured-player-wrapper-index:active, .featured-team-wrapper-index:active {
    transition: 100ms all;
    transform: var(--card-grow-before);
    background-color: var(--background-color);
    cursor: pointer;
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);

    .featured-event-name-index, .featured-player-name-index, .featured-team-name-index {
        color: var(--button-color);
    }
}


/* EVENT PAGES */


.event-prize-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    border: 1px solid var(--sidebar-border);
    border-radius: 4px;
    gap: 0.3rem;
    padding: 0.8rem;
    cursor: default;
}

.event-prize {
    font-size: 1rem;
    margin: auto;
    border-radius: 4px;
    font-weight: 500;
}

.event-tier, .event-region {
    font-size: 1rem;
    margin: auto;
    border-radius: 4px;
    font-weight: 500;
    padding: 0.5rem;
    cursor: default;
}

.event-tier, .event-region {
    border: 1px solid var(--sidebar-border);
}

.date-wrapper {
    display: flex;
    border: 1px solid var(--sidebar-border);
    padding: 0.3rem;
    border-radius: 4px;
    cursor: default;
}

.event-subheadings {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 1.2rem;
    margin-left: 2px;
}

.event-start-date, .dash, .event-end-date {
    font-size: 1rem;
    margin: auto;
    border-radius: 4px;
    font-weight: 500;
    padding: 0.2rem;
}

/* PLAYER/TEAM PAGES */

.main-player-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    height: auto;
    padding-bottom: 80px;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    margin-top: 0.9rem;
}

.player-subheadings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    margin-left: 2px;
}

.player-subheadings a {
    text-decoration: none;
    color: white;
}

.main-player-background .player-tag {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(211, 219, 243);
}

.main-player-background .player-name {
    font-size: 1.1rem;
    margin: auto;
    font-weight: 500;
    letter-spacing: 1px;
}

.player-header-container, .event-header-container {
    display: flex;
    margin-top: 40px;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1.5rem;
}

.main-player-background .player-img {
    width: 120px;
    height: 120px;
    background-color: rgb(66, 67, 82);
    border-radius: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--sidebar-border);
}

.main-player-background .player-country {
    font-size: 1rem;
    width: auto;
    height: 42px;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid var(--sidebar-border);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: default;
}

.player-country .feather {
    height: 20px;
    width: 20px;
}

.main-player-background .player-team {
    font-size: 1rem;
    border-radius: 4px;
    width: auto;
    height: 42px;
    padding: 0.5rem;
    border: 1px solid var(--sidebar-border);
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.player-team .feather {
    color: white;
    height: 22px;
    width: 22px;
}

.main-player-background .player-team:hover {
    background-color: var(--button-color);
    color: var(--card-text-color);
    cursor: pointer;

    .feather {
        color: var(--card-text-color);
    }
}

.main-player-background .player-team:active {
    background-color: var(--sidebar-color);
    color: var(--button-color);

    .feather {
        color: var(--button-color);
    }
}

/* match_info pages */

.upcoming {
    font-size: 2rem;
    font-weight: 600;
    margin-top: 40px;
    color: var(--button-color);
    text-align: center;
}

.match-date-header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 1.3rem;
    font-weight: 500;
}

.match-event-header-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    gap: 0.5rem;
}

.match-event-header-wrapper .feather {
    min-height: 16px;
    min-width: 16px;
}

.match-event-header {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--button-color);
    transition: 150ms all;
    padding: 0.3rem;
    border-radius: 4px;
    transform: var(--card-grow-before);
}

.match-event-header:hover {
    color: var(--card-text-color);
    background-color: var(--button-color);
    transition: 150ms all;
    transform: var(--card-grow-after);
}

.match-event-stage-header {
    font-size: 1rem;
    font-weight: 500;
    color: var(--button-color);
    cursor: default;
    margin-right: 16px;
}

.matchup-scoreboard-wrapper {
    display: flex;
    border: 1px solid var(--sidebar-border);
    border-radius: 0.7rem;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.matchup-header-wrapper {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 1.5rem;
}

.matches-team-name {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--button-color);
    text-overflow: ellipsis;
    padding: 0.4rem;
    border-radius: 4px;
    transition: 150ms all;
}

.matches-team-name:hover {
    background-color: var(--button-color);
    color: var(--card-text-color);
    cursor: pointer;
    transition: 150ms all;
}

.blue-team-img-name-wrapper, .orange-team-img-name-wrapper {
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    padding-right: 2rem;
    align-items: center;
    border-right: 1px solid var(--sidebar-border);
}

.blue-team-img-name-wrapper img, .orange-team-img-name-wrapper img, .roster-heading img {
    max-height: 80px;
    max-width: 80px;
    background-color: rgb(66, 67, 82);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid var(--sidebar-border);
}

.scores-cotainer {
    display: flex;
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    width: auto;
}

.scores-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5.3rem;
    width: auto;
}

.scores-blue, .scores-orange {
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(243, 243, 243);
}

.empty-score {
    color: rgba(243, 243, 243, 0.2);
    width: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    border-radius: 0.5rem;
}

.match-final-score-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5.3rem;
    width: auto;
    padding-left: 2rem;
    border-left: 1px solid var(--sidebar-border);
}

.match-final-score-blue, .match-final-score-orange {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--button-color);
}

.match-roster-list-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: auto;
}

.stat-labels-wrapper {
    display: flex;
    position: absolute;
    gap: 2rem;
    right: -573px;
    top: -24px;
}

.stat-label {
    color: var(--button-color);
}

#goals {
    text-align: start;
    width: 60px;
}

#assists {
    text-align: start;
    width: 60px;
}

#saves {
    text-align: start;
    width: 60px;
}

#score {
    text-align: start;
    width: 71px;
}

.player-stats-wrapper {
    display: flex;
    gap: 2rem;
}

.player-stats-names {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 1rem;
    padding-right: 2.3rem;
    gap: 1rem;
    border-right: 1px solid var(--sidebar-border);
    width: fit-content;
}

.player-name-stats-wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    width: fit-content;
}

.player-stats-column-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-left: 1rem;
}

.blue-team-roster, .orange-team-roster {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    border: 1px solid var(--sidebar-border);
    border-radius: 0.7rem;
    padding: 1.5rem;
    margin: auto;
}

.roster-heading {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--sidebar-border);
    padding-bottom: 1.5rem;
}

.roster-list-card-small, .roster-list-card-medium, .roster-list-card, .roster-list-card-rating, .roster-list-card-goalpart {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem;
    color: rgb(243, 243, 243);
    border-radius: 4px;
    transition: 150ms all;
}

.roster-list-card-small {
    width: 60px;
}

.roster-list-card-medium, .roster-list-card-goalpart {
    width: 72px;
}

.roster-list-card-rating {
    width: 92px;
}

.roster-list-card:hover {
    color: var(--card-text-color);
    background-color: var(--button-color);
    transition: 150ms all;
}



/* Stages/brackets buttons and Ballchasing buttons */

.bracket-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-flow: wrap;
}

.ballchasing-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-flow: wrap;
    margin-bottom: 40px;
}

.no-replay {
    padding: 1rem;
    border: 1px solid var(--sidebar-border);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.7rem;
    font-weight: 600;
    cursor: default;
    margin-bottom: 2px;
}

.brackets-heading, .ballchasing-header {
    font-size: 1.5rem;
    padding: 1rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--button-color);
    margin-top: 40px;
}

.bracket-button, .ballchasing-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--sidebar-border);
    color: var(--button-color);
    border-radius: 0.7rem;
    transform: var(--card-grow-before);
    transition: all 150ms;
    font-weight: 600;
}

.bracket-button:hover, .ballchasing-links:hover {
    background-color: var(--button-color);
    color: var(--card-text-color);
    transform: var(--card-grow-after);
    transition: all 150ms;
}

/* recent results section */

#match-link {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.matches-wrapper {
    display: flex;
    margin-top: 40px;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.recent-results-header {
    margin-top: 4rem;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
}

.match-card-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    border: 1px solid var(--sidebar-border);
    border-radius: 0.7rem;
    padding: 1rem;
    gap: 2rem;
    width: 850px;
    transform: var(--card-grow-before);
    transition: 150ms all;
}

.match-card-header a:hover {
    background-color: var(--sidebar-color);
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    transition: 150ms all;
    .matches-event-name {
        color: var(--button-color);
        transition: 150ms all;
    }
}

.match-card-header .feather {
    color: var(--button-color);
}

.match-card-wrapper:hover {
    background-color: var(--button-color);
    transform: var(--card-grow-after);
    transition: 150ms all;
    cursor: pointer;

    .blue-name-text, .orange-name-text, .blue-tbd, .orange-tbd {
        color: var(--card-text-color);
    }

    .matches-blue-score, .matches-orange-score {
        color: var(--card-text-color);
    }

    .matches-event-name {
        color: var(--card-text-color);
    }

    .matches-event-stage {
        color: var(--card-text-color);
    }

    .match-arrow {
        filter: invert();
    }

    .lan-wrapper .feather, .online-wrapper .feather {
        color: var(--card-text-color);
    }
    
    .lan-text, .online-text {
        color: var(--card-text-color);
    }
}

.match-card-header a {
    border-radius: 0.3rem;
    transition: 150ms all;
    z-index: 2;
}

.lan-wrapper, .online-wrapper {
    position: absolute;
    right: 1.7rem;
    top: 1.2rem;
    padding: 0.1rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.lan-wrapper .feather, .online-wrapper .feather {
    height: 20px;
    width: 20px;
    color: var(--button-color);
}

.lan-text, .online-text {
    font-size: 0.9rem;
    color: var(--button-color);
    margin-bottom: 2px;
    font-weight: 500;
}

.match-card-header {
    display: flex;
    gap: 0.7rem;
    padding-left: 1rem;
    align-items: center;
    transition: 150ms all;
}

.matches-event-name {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(211, 219, 243);
}

.matches-event-stage {
    font-size: 1rem;
    font-weight: 600;
    color: rgb(219, 227, 252);
    text-overflow: ellipsis;
}

.match-date {
    position: absolute;
    left: -200px;
    font-size: 1.2rem;
    font-weight: 500;
}

.img-score-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.blue-team-wrapper, .orange-team-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.matches-wrapper img {
    height: 60px;
    width: 60px;
    border: 1px solid var(--sidebar-border);
    background-color: rgb(66, 67, 82);
    border-radius: 4px;
    padding: 8px;
    overflow: hidden;
}

.blue-name {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.3rem;
    right: 540px;
    bottom: 33px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--button-color);
    transition: 150ms all;
}

.blue-name:hover, .orange-name:hover {
    background-color: var(--sidebar-color);
    transition: 150ms all;

    .blue-name-text, .orange-name-text {
        color: var(--button-color);
    }
}

.orange-tbd {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    left: 540px;
    bottom: 33px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--button-color); 
}

.blue-tbd {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    right: 540px;
    bottom: 33px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--button-color);
}

.orange-name {
    font-size: 1rem;
    font-weight: 600;
    position: absolute;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    border-radius: 0.3rem;
    left: 540px;
    bottom: 33px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--button-color);
    transition: 150ms all;
}

.matches-blue-score, .matches-orange-score {
    font-size: 1.1rem;
    font-weight: 700;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 24px;
    gap: 2rem;
}

.pagination a {
    text-decoration: none;
    color: var(--card-text-color);
    background-color: var(--button-color);
    padding: 1rem;
    border-radius: 0.7rem;
    font-size: 1rem;
    font-weight: 600;
    transition: 150ms all;
    border: 1px solid var(--sidebar-border);
}

.pagination a:hover {
    transition: 150ms all;
    background-color: var(--background-color);
    color: var(--button-color);
    border: 1px solid var(--sidebar-border);
}

/* active roster */

.active-roster-wrapper{
    border: 1px solid var(--sidebar-border);
    border-radius: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.coach-tag, .sub-tag {
    color: var(--sidebar-border);
}

.active-roster-wrapper a {
    text-decoration: none;
    color: var(--button-color);
}

.active-roster-wrapper a:hover {
    text-decoration: none;
    background-color: var(--button-color);
    color: var(--card-text-color);

    .coach-tag, .sub-tag {
        color: var(--card-text-color);
    }
}

.active-roster-wrapper a:first-child {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.active-roster-wrapper a:last-child {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.active-roster-wrapper a {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: normal;
    position: relative;
}

.tooltip {
    display: none;
}

.active-roster-wrapper a:hover .tooltip {
    display: flex;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 25;
    background-color: var(--card-color);
    color: var(--button-color);
    top: -42px;
    left: 2px;
}

.no-roster {
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: 500;
}

/* Fullscreen search dialog */

.fullscreen-search-container {
    display: none;
}

.fullscreen-search-container.active {
    display: flex;
    overflow: auto;
    position: absolute;
    padding-top: 6.7rem;
    align-items: center;
    flex-direction: column;
    background-color: rgba(18, 19, 22, 0.8);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    z-index: 20;

    .search-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .x-icon {
        cursor: pointer;
        transition: all 150ms;
        transform: var(--card-grow-before);
        border-radius: 0.4rem;
    }

    .x-icon:hover {
        transition: all 150ms;
        background-color: var(--button-color);
        color: var(--card-text-color);
        transform: translate3D(0,-1px,0) scale(1.1);
    }

    .x-icon:active {
        transition: all 150ms;
        transform: var(--card-grow-before);
    }

    .search-box {
        position: relative;
        background-color: var(--sidebar-color);
        color: rgb(236, 236, 236);
        border: none;
        padding: 1.5rem;
        border-radius: 0.7rem;
        width: 30vw;
        height: 4rem;
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
    }

    .search-box::placeholder {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
    }

    .search-box:focus {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
        color: rgb(236, 236, 236);
        outline: none;
    }

    .results-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8rem;
        margin-top: 3rem;
        width: 95%;
        height: 50%;
        border-radius: 0.7rem;
    }

    .results-card-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .results-box {
        background-color: rgb(34, 35, 43);
        position: relative;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        width: 320px;
        height: 512px;
        overflow-y: hidden;
    }

    .results-card-text {
        display: flex;
        margin-bottom: 0.6rem;
        font-family: var(--Inter);
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 8px;
    }

    .results-item {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 4rem;
        padding: 1rem;
    }

    .active-team {
        background-color: red;
    }

    .results-item:nth-child(n+9) {
        display: none;
    }

    .results-item .player-tag {
        padding-top: 1.1rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .team-name {
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .player-name {
        margin-top: 4px;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--button-color);
    }

    .results-item:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        cursor: pointer;

        .player-name {
            color: var(--card-text-color);
        }
    }

    .results-item:active {
        background-color: var(--sidebar-color);
        color: white;
        cursor: pointer;

        .player-name {
            color: var(--button-color);
        }
    }

    .team-image {
        position: absolute;
        right: 1rem;
        top: 1.2rem;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }

    .event-image {
        position: absolute;
        right: 1rem;
        bottom: 1.2rem;
        width: 28px;
        height: 28px;
        overflow: hidden;
    }

    .seeMore {
        display: none;
        background-color: rgb(34, 35, 43);
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 0.9rem;
        font-weight: 600;
        bottom: 0px;
        width: 320px;
        height: 64px;
        padding: 1rem;
    }

    .event-name {
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .event-results-item {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 1rem;
        justify-content: space-between;
        position: relative;
        height: 150px;
    }

    .event-results-item:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        cursor: pointer;

        .event-tier, .event-region {
            border: 1px solid rgba(39, 39, 39, 0.39);
        }
    }

    .event-results-item:nth-child(n+4) {
        display: none; /* Hide items beyond 8th */
    }

    .event-results-item:active {
        background-color: var(--sidebar-color);
        color: white;
        cursor: pointer;

        .event-tier, .event-region {
            border: 1px solid var(--sidebar-border);
        }
    }

    .event-details {
        display: flex;
        position: absolute;
        left: 1rem;
        bottom: 1.2rem;
        gap: 1rem;
        padding: 0px;
    }

    .event-tier, .event-region {
        border: 1px solid rgba(239, 249, 255, 0.308);
        border-radius: 0.3rem;
        font-weight: 600;
        padding: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seeMore:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        font-weight: 600;
        cursor: pointer;
    }  

    @media all and (max-width: 1600px) {
        .search-box {
            width: 40vw;
        }

        .results-container {
            gap: 3rem;
        }
        
    }

    @media all and (max-width: 840px) {
        .search-box {
            width: 70vw;
        }
    }
}



/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 @media all and (max-width: 1530px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 15rem);
        grid-auto-rows: minmax(1rem, 15rem);
    }
 }

 @media all and (max-width: 1400px) {
    .match-date {
        display: none;
    }
 }

 @media all and (min-width: 768px) and (max-width: 1024px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 14rem);
        grid-auto-rows: minmax(1rem, 14rem);
    }
 }

 @media all and (min-width: 768px) and (max-width: 992px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 14rem);
        grid-auto-rows: minmax(1rem, 14rem);
    }

    .featured-event-wrapper-index {
        width: 360px;
        height: 75px;
        background-color: rgb(57, 58, 70);
    }

    .match-card-wrapper {
        width: 335px;
        height: 240px;
    }

    .orange-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        left: 175px;
        width: 130px;
        height: auto;
        top: 155px;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .blue-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        right: 175px;
        top: 155px;
        width: 130px;
        height: auto;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .match-card-header {
        justify-content: center;
        padding-left: 0;
        text-overflow: ellipsis;
        text-align: center;
    }

    .match-card-header a {
        text-overflow: ellipsis;
    }

    .match-card-header .feather {
        display: none;
    }

    .matches-event-stage {
        display: none;
    }

    .online-wrapper {
        display: none;
    }

    .lan-wrapper {
        display: none;
    }
 }
 
 @media all and (min-width: 480px) and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 13rem);
        grid-auto-rows: minmax(1rem, 13rem);
    }

    .featured-event-wrapper-index {
        width: 360px;
        height: 75px;
        background-color: rgb(57, 58, 70);
    }

    .player-header-container, .event-header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-tag {
        text-align: center;
    }

    .player-subheadings {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        margin-left: 2px;
    }

    .player-info {
        align-items: center;
    }

    .active-roster-wrapper {
        flex-direction: column;
    }

    .active-roster-wrapper a:first-child {
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .active-roster-wrapper a:last-child {
        border-bottom-right-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .match-event-header-wrapper {
        margin-left: 16px;
    }

    .match-card-wrapper {
        width: 335px;
        height: 240px;
    }

    .orange-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        left: 175px;
        width: 130px;
        height: auto;
        top: 155px;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .blue-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        right: 175px;
        top: 155px;
        width: 130px;
        height: auto;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .match-card-header {
        justify-content: center;
        padding-left: 0;
        text-overflow: ellipsis;
        text-align: center;
    }

    .match-card-header a {
        text-overflow: ellipsis;
    }

    .match-card-header .feather {
        display: none;
    }

    .matches-event-stage {
        display: none;
    }

    .online-wrapper {
        display: none;
    }

    .lan-wrapper {
        display: none;
    }
  }
 
 @media all and (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
    }

    .content-container {
        border-radius: 0px;
        height: 100vh;
        border: none;
    }

    body {
        margin: 0;
    }

    .search-icon-container {
        gap: 12px;
    }

    .featured-event-wrapper-index {
        width: 340px;
        height: 75px;
        background-color: rgb(57, 58, 70);
    }

    .featured-team-wrapper-index {
        width: 340px;
        height: 75px;
    }

    .player-header-container, .event-header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-subheadings {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        margin-left: 2px;
    }

    .active-roster-wrapper a:active {
        background-color: var(--sidebar-color);
        color: var(--button-color);
        width: 100%;
        text-align: center;
    }
    
    .ballchasing-wrapper {
        margin-bottom: 120px;
    }

    .player-info {
        align-items: center;
    }

    .active-roster-wrapper {
        flex-direction: column;
    }

    .active-roster-wrapper a:first-child {
        border-top-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }
    
    .active-roster-wrapper a:last-child {
        border-bottom-right-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }

    .match-event-header-wrapper {
        margin-left: 16px;
    }

    .match-card-wrapper {
        width: 335px;
        height: 240px;
    }

    .orange-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        left: 175px;
        width: 130px;
        height: auto;
        top: 155px;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .blue-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        right: 175px;
        top: 155px;
        width: 130px;
        height: auto;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .match-card-header {
        justify-content: center;
        padding-left: 0;
        text-overflow: ellipsis;
        text-align: center;
    }

    .match-card-header a {
        text-overflow: ellipsis;
    }

    .match-card-header .feather {
        display: none;
    }

    .matches-event-stage {
        display: none;
    }

    .online-wrapper {
        display: none;
    }

    .lan-wrapper {
        display: none;
    }
  }

@media all and (max-height: 590px) {
    .sidebar {
        height: 3.7rem;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
        overflow: auto;
        position: fixed;
        bottom: 0;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }

    .sidebar.active {
        width: 100%;
    }

    .content-container {
        border-radius: 0px;
        height: 100vh;
        border: none;
        margin-left: 0px;
    }

    body {
        margin: 0;
    }

    h3 {
        display: flex;
        font-size: 1rem;
        font-weight: 500;
    }

    .sidebar-icon {
        display: none;
    }

    .sidebar-body {
        flex-direction: row;
        padding-left: 12px;
        padding-right: 12px;
        margin: auto;
        padding-top: 0;
        gap: 16px;
    }

    .sidebar-body a {
        width: auto;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        height: 2.3rem;
        border-radius: 12px;
        flex-direction: row;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sidebar-body a:hover .tooltip {
        display: none;
    }

    .ballchasing-wrapper {
        margin-bottom: 120px;
    }
 }

 @media all and (max-width: 550px) {
    .sidebar {
        height: 3.7rem;
        width: 100%;
        justify-content: flex-start;
        flex-direction: row;
        overflow: auto;
        position: fixed;
        bottom: 0;
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-radius: 0px;
    }

    .sidebar.active {
        width: 100%;
    }

    .content-container {
        border-radius: 0px;
        height: 100vh;
        border: none;
        margin-left: 0px;
    }

    body {
        margin: 0;
    }

    h3 {
        display: flex;
        font-size: 1rem;
        font-weight: 500;
    }

    .sidebar-icon {
        display: none;
    }

    .sidebar-body {
        flex-direction: row;
        padding-left: 12px;
        padding-right: 12px;
        margin: auto;
        padding-top: 0;
        gap: 16px;
    }

    .sidebar-body a {
        width: auto;
        justify-content: flex-start;
        align-items: center;
        gap: 0.5rem;
        height: 2.3rem;
        border-radius: 12px;
        flex-direction: row;
        padding-left: 12px;
        padding-right: 12px;
    }

    .sidebar-body a:hover .tooltip {
        display: none;
    }

    .ballchasing-wrapper {
        margin-bottom: 120px;
    }
 }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
    }
  }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
    }

    .content-container {
        border-radius: 0px;
        height: 100vh;
        border: none;
    }

    body {
        margin: 0;
    }

    .search-icon-container {
        gap: 12px;
    }

    .featured-event-wrapper-index {
        width: 340px;
        height: 75px;
        background-color: rgb(57, 58, 70);
    }

    .featured-team-wrapper-index {
        width: 340px;
        height: 75px;
    }

    .player-header-container, .event-header-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .player-subheadings {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 2rem;
        margin-left: 2px;
    }

    .player-info {
        align-items: center;
    }

    .active-roster-wrapper a:active {
        background-color: var(--sidebar-color);
        color: var(--button-color);
        width: 100%;
        text-align: center;
    }

    .ballchasing-wrapper {
        margin-bottom: 120px;
    }

    .match-card-wrapper {
        width: 335px;
        height: 240px;
    }

    .orange-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        left: 175px;
        width: 130px;
        height: auto;
        top: 155px;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .blue-name {
        position: absolute;
        white-space: wrap;
        text-overflow: ellipsis;
        right: 175px;
        top: 155px;
        width: 130px;
        height: auto;
        text-align: center;
        overflow-y: auto;
        overflow-x: visible;
    }

    .match-card-header {
        justify-content: center;
        padding-left: 0;
        text-overflow: ellipsis;
        text-align: center;
    }

    .match-card-header a {
        text-overflow: ellipsis;
    }

    .match-card-header .feather {
        display: none;
    }

    .matches-event-stage {
        display: none;
    }

    .online-wrapper {
        display: none;
    }

    .lan-wrapper {
        display: none;
    }
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
    .content-container {
        border-radius: 0px;
        height: 100vh;
        border: none;
    }

    body {
        margin: 0;
    }
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }
 