:root {
    --background-color: rgb(31, 33, 37);
    --card-color: rgb(24, 24, 24);
    --overlay-color: rgba(0, 0, 0, 0.5);
    --button-color: rgb(190, 199, 228);
    --sidebar-color: rgb(45, 46, 56);
    --sidebar-border: rgba(255, 255, 255, 0.2);
    --button-animation: 200ms ease;
    --card-text-color: rgb(51, 51, 51);
    --button-grow: translate(0px, 0px) scale(1.1, 1.1);
            

    --Inter: Inter, sans-serif;

    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
}

* {
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 10, 10);
    color: white;
    margin: 0;
}

.content-container {
    margin-left: 90px;
    border: 1px solid var(--sidebar-border); 
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: var(--background-color);
    overflow: auto;
    height: 100vh;
}

/* sidebar navigation */

.sidebar-icon {
    max-width: fit-content;
    margin-top: 12px;
    margin-left: 20px;
    padding: 8px;
    border-radius: 10px;
    color: rgb(197, 197, 197);
    cursor: pointer;
}

.sidebar-icon:hover {
    background-color: var(--button-color);
    color: var(--card-text-color);
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 24px;
    gap: 24px;
    padding-top: 40px;
}

.feather {
    min-height: 24px;
    min-width: 24px;
}

.sidebar-body a:hover {
    background-color: var(--background-color);
    color: rgb(245, 245, 245);
    border: 1px solid var(--sidebar-border);
    transition: var(--button-animation);
}

.sidebar-body a:hover .tooltip {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 25;
    background-color: var(--card-color);
    color: var(--button-color);
    left: 75px;
}

.sidebar {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid var(--sidebar-border);
    border-left: none;
    height: 100vh;
    width: 5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--sidebar-color);
    box-shadow: none;
    z-index: 10;
    transition: all 200ms ease;
}

.sidebar-body {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 40px;
    gap: 24px;
}

.sidebar-body a {
    display: flex;
    flex-direction: column;
    width: 3rem;
    height: 3rem;
    align-items: flex-start;
    justify-content: center;
    padding-left: 12px;
    color: rgb(41, 41, 41);
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 6px;
    background-color: var(--button-color);
    transition: var(--button-animation);
    cursor: pointer;
    text-decoration: none;
}

.sidebar-body a:hover {
    background-color: var(--background-color);
    color: rgb(245, 245, 245);
    border: 1px solid var(--sidebar-border);
    transition: var(--button-animation);
}

h3 {
    display: none;
}

.sidebar.active {
    width: 20rem;
    transition: all 200ms ease;
    -webkit-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);
    box-shadow: 10px 0px 50px -5px rgba(0,0,0,0.5);

    h3 {
        display: flex;
        font-size: 1.1rem;
        font-family: var(--Inter);
        font-weight: 600;
        padding-left: 0.6rem;
    }

    .sidebar-body a {
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
    }

    .sidebar-body a:hover .tooltip {
        display: none;
    }
}


/* search button */

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    transition: 200ms ease;
}

.search-button:hover {
    transform: translate(0px, 0px) scale(1.1, 1.1);
}

.search-icon {
    width: 2rem;
    height: 2rem;
}

.search-text {
    font-size: 1.1rem;
    font-family: Inter, sans-serif;
    font-weight: 500;
    color: white;
}


/* bento box area */

.grid-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, 20rem);
    grid-auto-rows: minmax(1rem, 20rem);
    grid-auto-flow: auto;
    grid-gap: 20px;
    padding-top: 40px;
}

.grid-container section {
    border-radius: 24px;
    color: var(--card-text-color);
    background-color: var(--button-color);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.card-text {
    position: absolute;
    bottom: 0;
    left: 2rem;
    right: 2rem;
    z-index: 1;
}

/* PLAYER/TEAM PAGES */

.main-player-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    border-top: 1px solid var(--sidebar-border);
    background-color: var(--sidebar-color);
    height: 100%;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    margin-top: 0.9rem;
}

.player-subheadings {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 2px;
}

.player-subheadings a {
    text-decoration: none;
    color: white;
}

.main-player-background .player-tag {
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgb(211, 219, 243);
}

.main-player-background .player-name {
    font-size: 1.1rem;
    margin: auto;
    font-weight: 500;
    letter-spacing: 1px;
}

.player-header-container {
    display: flex;
    margin-top: 40px;
    gap: 1.5rem;
}

.main-player-background .player-img {
    width: 120px;
    height: 120px;
    background-color: rgb(66, 67, 82);
    border-radius: 1rem;
    padding: 1.5rem;
    border: 1px solid var(--sidebar-border);
}

.main-player-background .player-country {
    font-size: 1rem;
    margin: auto;
    text-transform: uppercase;
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid var(--sidebar-border);
    font-weight: 500;
    letter-spacing: 1px;
}

.main-player-background .player-team {
    font-size: 1rem;
    margin: auto;
    border-radius: 4px;
    padding: 0.5rem;
    border: 1px solid var(--sidebar-border);
    font-weight: 500;
    letter-spacing: 1px;
}

.main-player-background .player-team:hover {
    font-size: 1rem;
    margin: auto;
    border-radius: 4px;
    padding: 0.5rem;
    background-color: var(--button-color);
    color: var(--card-text-color);
    border: 1px solid var(--sidebar-border);
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}


/* active roster */

.active-roster-wrapper {
    border: 1px solid var(--sidebar-border);
    border-radius: 0.7rem;
    display: flex;
    gap: 0.7rem;
    margin-top: 4rem;
}

.active-roster-wrapper .player-tag:first-child {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
}

.active-roster-wrapper .player-tag:last-child {
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
}

.active-roster-wrapper .player-tag {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: normal;
    position: relative;
}

.tooltip {
    display: none;
}

.player-tag:hover .tooltip {
    display: flex;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0.5rem;
    border-radius: 0.5rem;
    z-index: 25;
    background-color: var(--card-color);
    color: var(--button-color);
    top: -42px;
    left: 0px;
}

.no-roster {
    font-size: 1rem;
    margin-top: 4rem;
    font-weight: 500;
}

.active-roster-wrapper .player-tag:hover {
    color: var(--card-text-color);
    background-color: var(--button-color);
}

/* Fullscreen search dialog */

.fullscreen-search-container {
    display: none;
}

.fullscreen-search-container.active {
    display: flex;
    overflow: auto;
    position: absolute;
    padding-top: 6.7rem;
    align-items: center;
    flex-direction: column;
    background-color: rgba(18, 19, 22, 0.8);
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100%;
    z-index: 20;

    .search-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .search-icon-2 {
        cursor: pointer;
    }

    .x-icon {
        cursor: pointer;
    }

    .search-box {
        position: relative;
        background-color: var(--sidebar-color);
        color: rgb(236, 236, 236);
        border: none;
        padding: 1.5rem;
        border-radius: 0.7rem;
        width: 30vw;
        height: 4rem;
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
    }

    .search-box::placeholder {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
    }

    .search-box:focus {
        font-family: var(--Inter);
        font-size: 1rem;
        font-weight: 500;
        color: rgb(236, 236, 236);
        outline: none;
    }

    .results-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 8rem;
        margin-top: 3rem;
        width: 95%;
        height: 50%;
        border-radius: 0.7rem;
    }

    .results-card-container {
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .results-box {
        background-color: rgb(34, 35, 43);
        position: relative;
        border-radius: 0.4rem;
        display: flex;
        flex-direction: column;
        width: 320px;
        /* max-height: calc(7 * (4rem)); Height for 8 items */
        height: 512px;
        overflow-y: hidden;
    }

    .results-card-text {
        font-family: var(--Inter);
        font-size: 1.3rem;
        font-weight: 600;
        margin-left: 8px;
    }

    .results-item {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: center;
        height: 4rem;
        padding: 1rem;
    }

    .active-team {
        background-color: red;
    }

    .results-item:nth-child(n+9) {
        display: none;
    }

    .player-tag {
        padding-top: 1.1rem;
        font-size: 1rem;
        font-weight: 600;
    }

    .team-name {
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .player-name {
        margin-top: 4px;
        font-size: 0.9rem;
        font-weight: 500;
        color: var(--button-color);
    }

    .results-item:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        cursor: pointer;

        .player-name {
            color: var(--card-text-color);
        }
    }

    .team-image {
        position: absolute;
        right: 1rem;
        top: 1.2rem;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }

    .event-image {
        position: absolute;
        right: 1rem;
        bottom: 1.2rem;
        width: 28px;
        height: 28px;
        overflow: hidden;
    }

    .seeMore {
        display: none;
        background-color: rgb(34, 35, 43);
        border-bottom-left-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-size: 0.9rem;
        font-weight: 600;
        bottom: 0px;
        width: 320px;
        height: 64px;
        padding: 1rem;
    }

    .event-name {
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;
    }

    .event-results-item {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 1rem;
        justify-content: space-between;
        position: relative;
        height: 150px;
    }

    .event-results-item:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        cursor: pointer;
    }

    .event-results-item:nth-child(n+4) {
        display: none; /* Hide items beyond 8th */
    }

    .event-results-item:hover {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        align-items: left;
        height: 150px;

        .event-tier, .event-region {
            border: 1px solid rgba(39, 39, 39, 0.39);
        }
    }

    .event-details {
        display: flex;
        position: absolute;
        left: 1rem;
        bottom: 0.2rem;
        gap: 1rem;
        padding: 0px;
    }

    .event-tier, .event-region {
        border: 1px solid rgba(239, 249, 255, 0.308);
        border-radius: 0.3rem;
        font-weight: 600;
        padding: 0.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seeMore:hover {
        background-color: var(--button-color);
        color: var(--card-text-color);
        font-weight: 600;
        cursor: pointer;
    }  

    @media all and (max-width: 1600px) {
        .search-box {
            width: 40vw;
        }

        .results-container {
            gap: 3rem;
        }
        
    }

    @media all and (max-width: 840px) {
        .search-box {
            width: 70vw;
        }
    }
}



/**
 * Basic CSS Media Query Template
 * TODO: I should probably use Sass...
 * Author: Michael Vieth
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */
 @media all and (max-width: 1530px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 15rem);
        grid-auto-rows: minmax(1rem, 15rem);
    }
 }

 @media all and (min-width: 768px) and (max-width: 1024px) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 14rem);
        grid-auto-rows: minmax(1rem, 14rem);
    }
 }
 
 @media all and (min-width: 480px) and (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 13rem);
        grid-auto-rows: minmax(1rem, 13rem);
    }
  }
 
 @media all and (max-width: 480px) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
    }
  }
 
 
 /* Portrait */
 @media screen and (orientation:portrait) { 
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
    }
  }
 /* Landscape */
 @media screen and (orientation:landscape) { /* Landscape styles here */ }
 
 
 /* CSS for iPhone, iPad, and Retina Displays */
 
 /* Non-Retina */
 @media screen and (-webkit-max-device-pixel-ratio: 1) {
 }
 
 /* Retina */
 @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
 only screen and (-o-min-device-pixel-ratio: 3/2),
 only screen and (min--moz-device-pixel-ratio: 1.5),
 only screen and (min-device-pixel-ratio: 1.5) {
 }
 
 /* iPhone Portrait */
 @media screen and (max-device-width: 480px) and (orientation:portrait) {
    .grid-container {
        grid-template-columns: repeat(auto-fit, 12rem);
        grid-auto-rows: minmax(1rem, 12rem);
    }
 } 
 
 /* iPhone Landscape */
 @media screen and (max-device-width: 480px) and (orientation:landscape) {
 }
 
 /* iPad Portrait */
 @media screen and (min-device-width: 481px) and (orientation:portrait) {
 }
 
 /* iPad Landscape */
 @media screen and (min-device-width: 481px) and (orientation:landscape) {
 }
 