<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Events</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">

        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>
    
    <body>
        <div class="navbar-icon">
            <i data-feather="menu"></i>
        </div>
        <nav class="navbar">
            <div class="navbar-wrapper">
                <a href="{{ url_for('index') }}">
                    <i data-feather="home"></i>
                    <h3 class="navbar-text">Home</h3>
                </a>
                <a href="{{ url_for('players') }}">
                    <i data-feather="user"></i>
                    <h3 class="navbar-text">Players</h3>
                </a>

                <a class="search-container">
                    <i data-feather="search"></i>
                    <h3 class="navbar-text">Search</h3>
                </a>

                <a href="{{ url_for('events') }}">
                    <i data-feather="award"></i>
                    <h3 class="navbar-text">Events</h3>
                </a>
                <a href="{{ url_for('teams') }}">
                    <i data-feather="users"></i>
                    <h3 class="navbar-text">Teams</h3>
                </a>
            </div>
            <div class="close-menu-button">
                <i data-feather="x"></i>
            </div>
        </nav>

        <div class="fullscreen-search-container">
            <div class="search-icon-container">
                <i class="search-icon-2" data-feather="search"></i>
                <input class="search-box"
                    type="text"
                    id="searchInput"
                    name="name"
                    placeholder="Search"
                    oninput="performSearch()"
                    />

                <i class="x-icon" data-feather="x"></i>
            </div>

            <div class="results-container">
                <div class="results-card-container">
                    <h3 class="results-card-text">Players</h3>
                    <div class="results-box" id="playerResults"></div>
                    <a href="{{ url_for('players') }}" class="seeMore" id="playersMoreResults">Full player results</a>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Teams</h3>
                    <div class="results-box" id="teamResults"></div>
                    <a href="{{ url_for('teams') }}" class="seeMore" id="teamsMoreResults">Full team results</a>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Events</h3>
                    <div class="results-box" id="tournamentResults"></div>
                    <a href="{{ url_for('events') }}" class="seeMore" id="tourneyMoreResults">Full event results</a>
                </div>
            </div>
        </div>

        <div class="search-box-and-filters">
            <div class="search-player-page">
                <input class="search-box"
                    type="text"
                    id="eventSearchInput"
                    name="name"
                    placeholder="Search events"
                    oninput="updateEventPageResults()"
                    />
                </div>
                <div class="filter-buttons-wrapper">
                    <div class="filter-button all-filter" data-region="ALL">ALL</div>
                    <div class="filter-button int-filter" data-region="INT">INT</div>
                    <div class="filter-button na-filter" data-region="NA">NA</div>
                    <div class="filter-button eu-filter" data-region="EU">EU</div>
                    <div class="filter-button sam-filter" data-region="SAM">SAM</div>
                    <div class="filter-button mena-filter" data-region="ME">MENA</div>
                    <div class="filter-button oce-filter" data-region="OCE">OCE</div>
                    <div class="filter-button apac-filter" data-region="ASIA">APAC</div>
                    <div class="filter-button ssa-filter" data-region="AF">SSA</div>
                    <div class="close-filter-menu">
                        <i data-feather="x"></i>
                    </div>
                </div>
                    <div class="filter-button-mobile">
                        <i data-feather="filter"></i>
                    </div>

        </div>

            <div class="results-player-page" id="eventResultsCard"></div>

            <footer>
                <div class="main-section">
                    <div class="footer-section-headers">Demosgg</div>
                    <div class="footer-buttons">
                        <a href="https://github.com/tyrohellion/demos" class="footer-button">
                            <i data-feather="github"></i>
                            <div class="footer-text">GitHub</div>
                        </a>
                        <a href="https://zsr.octane.gg" class="footer-button">
                            <i data-feather="code"></i>
                            <div class="footer-text">API</div>
                        </a>
                        <a href="https://liquipedia.net/rocketleague/Main_Page" class="footer-button">
                            <i data-feather="file-text"></i>
                            <div class="footer-text">Liquipedia</div>
                        </a>
                    </div>
                </div>
                <div class="personal-section">
                    <div class="footer-section-headers">My stuff</div>
                    <div class="footer-buttons">
                        <a href="https://x.com/tyrohellion" class="footer-button">
                            <i data-feather="twitter"></i>
                            <div class="footer-text">Twitter</div>
                        </a>
                        <a href="https://www.twitch.tv/tyrohellion" class="footer-button">
                            <i data-feather="twitch"></i>
                            <div class="footer-text">Twitch</div>
                        </a>
                        <a href="https://liquipedia.net/rocketleague/Tyro_(American_Player)" class="footer-button">
                            <i data-feather="file-text"></i>
                            <div class="footer-text">Liquipedia</div>
                        </a>
                    </div>
                </div>
                <div class="thanks-section">
                    <div class="footer-section-headers">Acknowledgments</div>
                    <div class="footer-buttons">
                        <a href="https://www.shiftrle.gg" class="footer-button">
                            <i data-feather="link"></i>
                            <div class="footer-text">ShiftRLE</div>
                        </a>
                        <a href="https://github.com/amas0/octanegg" class="footer-button">
                            <i data-feather="code"></i>
                            <div class="footer-text">Amas</div>
                        </a>
                        <a href="https://octane.gg" class="footer-button">
                            <i data-feather="link"></i>
                            <div class="footer-text">Octane.gg</div>
                        </a>
                    </div>
                </div>
                <div class="copyright">
                    demosgg © 2024 - All Rights Reserved
                </div>
            </footer>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>feather.replace()</script>
        <script src="/static/script.js" async defer></script>
        <script>
            let allEvents = [];
            let perPage = 50;
            let pageCount = 1;
            let isLoading = false;

            function fetchEvents(query = '', append = false) {
                if (isLoading) return;
                isLoading = true;
                fetch(`/search?query=${query}&page=${pageCount}&per_page=${perPage}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Event Search: Network response was not ok');
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (append) {
                            allEvents = allEvents.concat(data.events);
                        } else {
                            allEvents = data.events;
                        }
                        updateEventPageResults();
                        isLoading = false;
                    })
                    .catch(error => {
                        console.error('Event Search Error:', error);
                        isLoading = false;
                    });
            }

            function updateEventPageResults() {
                var query = document.getElementById("eventSearchInput").value.toLowerCase();
                var region = document.querySelector('.filter-button.selected')?.getAttribute('data-region') || 'ALL';

                const filteredEvents = allEvents.filter(event => {
                    const matchesQuery = event.name.toLowerCase().includes(query);
                    const matchesRegion = region === 'ALL' || event.region === region;
                    return matchesQuery && matchesRegion;
                });

                clearEventResults();
                updateEventResultsPage(filteredEvents);
            }

            function clearEventResults() {
                var eventResults = document.getElementById("eventResultsCard");
                eventResults.innerHTML = "";
            }

            function updateEventResultsPage(events) {
                var eventResults = document.getElementById("eventResultsCard");
                events.forEach(function(event) {
                    var divWrapper = document.createElement("div");
                    var divTagWrapper = document.createElement("div");
                    divWrapper.classList.add("results-item");
                    divTagWrapper.classList.add("event-card-tags");

                    if (event.name.trim() !== "") {
                        var divTag = document.createElement("div"); 
                        divTag.classList.add("event-name");
                        divTag.textContent = event.name;
                        divWrapper.appendChild(divTag);
                    }

                    if (event.image !== undefined) {
                        var eventDiv = document.createElement("div");
                        var img = document.createElement("img"); 
                        img.classList.add("event-image"); 
                        img.src = event.image; 
                        img.alt = event.name;
                        eventDiv.appendChild(img); 
                        divWrapper.appendChild(eventDiv);
                    }

                    if (event.region) {
                        var pCountry = document.createElement("p");
                        pCountry.classList.add("event-region");
                        pCountry.textContent = event.region;
                        divTagWrapper.appendChild(pCountry);
                        divWrapper.appendChild(divTagWrapper);
                    }

                    divWrapper.addEventListener('click', function() {
                        window.location.href = '/event/' + event._id;
                    });

                    eventResults.appendChild(divWrapper);
                });
            }

            function updateEventRegion(event) {
                var selectedRegion = event.target.getAttribute('data-region');
                document.querySelectorAll('.filter-button').forEach(btn => btn.classList.remove('selected'));
                event.target.classList.add('selected');
                updateEventPageResults();
            }

            document.getElementById('eventSearchInput').addEventListener('input', () => {
                pageCount = 1;
                fetchEvents(document.getElementById('eventSearchInput').value);
            });
            document.querySelectorAll('.filter-button').forEach(button => {
                button.addEventListener('click', event => {
                    updateEventRegion(event);
                });
            });

            window.addEventListener('scroll', () => {
                if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight && !isLoading) {
                    pageCount++;
                    fetchEvents(document.getElementById('eventSearchInput').value, true);
                }
            });

            fetchEvents();
        </script>
    <script>
        let filterMenu = document.querySelector('.filter-button-mobile');
        let filterMenuActive = document.querySelector('.filter-buttons-wrapper');
        let closeFilterMenu = document.querySelector('.close-filter-menu');
        
        filterMenu.onclick = function() {
            filterMenuActive.classList.toggle('active');
        }

        closeFilterMenu.onclick = function() {
            filterMenuActive.classList.toggle('active');
        }
    </script>
    </body>
</html>