<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% if match.blue and match.orange %}
    <title>
      {{ match.blue.team.team.name }} vs {{ match.orange.team.team.name }}
    </title>
    {% else %}
    <title>TBD vs TBD</title>
    {% endif %}
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/style-1.4.css" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='/images/favicon.ico') }}"
    />

    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
  </head>

  <body>
    <div class="navbar-icon">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-menu-2"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#bec7e4"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 6l16 0" />
        <path d="M4 12l16 0" />
        <path d="M4 18l16 0" />
      </svg>
    </div>
    <nav class="navbar">
      <div class="navbar-wrapper">
        <a href="{{ url_for('index') }}">
          <div class="event-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-home"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#bec7e4"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
          </div>
          <h3 class="navbar-text">Home</h3>
        </a>
        <a href="{{ url_for('players') }}">
          <div class="event-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-user-star"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#bec7e4"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
              <path d="M6 21v-2a4 4 0 0 1 4 -4h.5" />
              <path
                d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z"
              />
            </svg>
          </div>
          <h3 class="navbar-text">Players</h3>
        </a>

        <a class="search-container">
          <div class="event-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-list-search"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#bec7e4"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M15 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
              <path d="M18.5 18.5l2.5 2.5" />
              <path d="M4 6h16" />
              <path d="M4 12h4" />
              <path d="M4 18h4" />
            </svg>
          </div>
          <h3 class="navbar-text">Search</h3>
        </a>

        <a href="{{ url_for('events') }}">
          <div class="event-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-tournament"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#bec7e4"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M4 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M4 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M4 20m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
              <path d="M6 12h3a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-3" />
              <path d="M6 4h7a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-2" />
              <path d="M14 10h4" />
            </svg>
          </div>
          <h3 class="navbar-text">Events</h3>
        </a>
        <a href="{{ url_for('teams') }}">
          <div class="event-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-users-group"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#bec7e4"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
              <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M17 10h2a2 2 0 0 1 2 2v1" />
              <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
              <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
            </svg>
          </div>
          <h3 class="navbar-text">Teams</h3>
        </a>
      </div>
      <div class="close-menu-button">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-x"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#bec7e4"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </div>
    </nav>

    <div class="fullscreen-search-container">
      <div class="search-icon-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler fullscreen-icon-tabler-search"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#bec7e4"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
          <path d="M21 21l-6 -6" />
        </svg>
        <input
          class="search-box"
          type="text"
          id="searchInput"
          name="name"
          placeholder="Search"
          oninput="performSearch()"
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler fullscreen-icon-tabler-x"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#bec7e4"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 6l-12 12" />
          <path d="M6 6l12 12" />
        </svg>
      </div>

      <div class="results-container">
        <div class="results-card-container">
          <h3 class="results-card-text">Players</h3>
          <div class="results-box" id="playerResults"></div>
          <a
            href="{{ url_for('players') }}"
            class="seeMore"
            id="playersMoreResults"
            >Full player results</a
          >
        </div>
        <div class="results-card-container">
          <h3 class="results-card-text">Teams</h3>
          <div class="results-box" id="teamResults"></div>
          <a href="{{ url_for('teams') }}" class="seeMore" id="teamsMoreResults"
            >Full team results</a
          >
        </div>
        <div class="results-card-container">
          <h3 class="results-card-text">Events</h3>
          <div class="results-box" id="tournamentResults"></div>
          <a
            href="{{ url_for('events') }}"
            class="seeMore"
            id="tourneyMoreResults"
            >Full event results</a
          >
        </div>
      </div>
    </div>

    <div class="match-event-header-wrapper">
      <a
        href="{{ url_for('get_event', event_id=match['event']['_id']) }}"
        class="match-event-header"
        >{{ match.event.name }}</a
      >
    </div>

    <div class="match-page-cards-wrapper">
      <div class="match-date-header" data-utc="{{ match.date }}"></div>
      <div class="match-event-stage-header">{{ match.stage.name }}</div>

      {% if match['stage']['lan'] %}
      <div class="lan-wrapper-match-page">
        <div class="lan-text">Lan</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-map-pin lan-icon"
          viewBox="0 0 24 24"
          stroke-width="1.9"
          stroke="#bec7e4"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
          <path
            d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"
          />
        </svg>
      </div>
      {% else %}
      <div class="online-wrapper-match-page">
        <div class="online-text">Online</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-world online-icon"
          viewBox="0 0 24 24"
          stroke-width="1.9"
          stroke="#bec7e4"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0" />
          <path d="M3.6 9h16.8" />
          <path d="M3.6 15h16.8" />
          <path d="M11.5 3a17 17 0 0 0 0 18" />
          <path d="M12.5 3a17 17 0 0 1 0 18" />
        </svg>
      </div>
      {% endif %}
    </div>

    {% if match.blue and match.orange %}
    <div class="matchup-scoreboard-wrapper">
      <div class="matchup-header-wrapper">
        <div class="blue-team-img-name-wrapper">
          {% if match.blue.team.team.image %}
          <img
            src="{{ match.blue.team.team.image | default('/static/images/rocketleague.svg')}}"
            alt="{{ match.blue.team.team.image }}"
          />
          {% else %}
          <img src="/static/images/rocketleague.svg" alt="blue team image" />
          {% endif %}
          <a
            href="{{ url_for('get_team', team_id = match.blue.team.team._id) }}"
            class="matches-team-name-blue"
            >{{ match.blue.team.team.name }}
            <div class="arrow-for-mobile-blue"></div>
          </a>
        </div>

        <div class="orange-team-img-name-wrapper">
          {% if match.orange.team.team.image %}
          <img
            src="{{ match.orange.team.team.image | default('/static/images/rocketleague.svg')}}"
            alt="{{ match.orange.team.team.name }}"
          />
          {% else %}
          <img src="/static/images/rocketleague.svg" alt="orange team image" />
          {% endif %}
          <a
            href="{{ url_for('get_team', team_id = match.orange.team.team._id) }}"
            class="matches-team-name-orange"
            >{{ match.orange.team.team.name }}
            <div class="arrow-for-mobile-orange"></div>
          </a>
        </div>
      </div>

      {% if num_of_games != 0 %}
      <div class="scores-cotainer">
        {% if match.games %} {% for i in range(num_of_games) %}
        <div class="scores-wrapper">
          {% set game = match.games[i] %} {% if i < match.games|length %}
          <div class="scores-blue">{{ game.blue }}</div>
          {% if game.overtime == true %} {% set extra_time = game.duration - 300
          %} {% set minutes = extra_time // 60 %} {% set seconds = extra_time %
          60 %} {% if game.duration > 359 %}
          <div class="game-number">
            Game {{ loop.index }} (+{{ minutes }}:{{ '%02d' % seconds }})
          </div>
          {% else %}
          <div class="game-number">
            Game {{ loop.index }} (+0:{{ '%02d' % extra_time }})
          </div>
          {% endif %} {% else %}
          <div class="game-number">Game {{ loop.index }}</div>
          {% endif %}
          <div class="scores-orange">{{ game.orange }}</div>
          {% else %}
          <div class="scores-blue">?</div>
          <div class="game-number">Game {{ loop.index }}</div>
          <div class="scores-orange">?</div>
          {% endif %}
        </div>
        {% endfor %} {% else %} {% for i in range(num_of_games) %}
        <div class="scores-wrapper">
          <div class="scores-blue">?</div>
          <div class="game-number">Game {{ loop.index }}</div>
          <div class="scores-orange">?</div>
        </div>
        {% endfor %} {% endif %} {% else %}
        <div class="scores-wrapper">
          <div class="scores-blue-upcoming">Upcoming</div>
          <div class="scores-orange-upcoming">Upcoming</div>
        </div>
        {% endif %}

        <div class="match-final-score-wrapper">
          {% if match.blue.score %}
          <div class="match-final-score-blue">{{ match.blue.score }}</div>
          {% else %}
          <div class="match-final-score-blue">0</div>
          {% endif %}
          <div class="final-series-score">Final</div>
          {% if match.orange.score %}
          <div class="match-final-score-orange">{{ match.orange.score }}</div>
          {% else %}
          <div class="match-final-score-orange">0</div>
          {% endif %}
        </div>
      </div>
    </div>

    {% if match.blue.players %}
    <div class="match-roster-list-wrapper">
      <div class="blue-team-roster">
        <div class="roster-heading">
          {% if match['blue']['team']['team']['image'] %}
          <img
            src="{{ match['blue']['team']['team']['image'] | default('/static/images/rocketleague.svg')}}"
            alt="{{ match['blue']['team']['team']['name'] }}"
          />
          {% else %}
          <img
            src="/static/images/rocketleague.svg"
            alt="{{ match['blue']['team']['team']['name'] }}"
          />
          {% endif %}
          <a
            href="{{ url_for('get_team', team_id = match['blue']['team']['team']['_id']) }}"
            class="matches-team-name-stats"
            >{{ match['blue']['team']['team']['name'] }}</a
          >
        </div>

        <div class="player-name-stats-wrapper">
          <div class="player-stats-names">
            {% for player in match.blue.players %}
            <a
              href="{{ url_for('get_player', player_id=player.player._id) }}"
              class="roster-list-card"
            >
              {{ player.player.tag }}
            </a>
            {% endfor %}

            <div class="stat-labels-wrapper">
              <div class="stat-label" id="goals">Goals</div>
              <div class="stat-label" id="assists">Assists</div>
              <div class="stat-label" id="saves">Saves</div>
              <div class="stat-label" id="shots">Shots</div>
              <div class="stat-label" id="score">Score</div>
              <div class="stat-label" id="goalpart">Goal Part.</div>
              <div class="stat-label" id="rating">Rating</div>
            </div>
          </div>

          <div class="player-stats-column-wrapper">
            {% for player in match.blue.players %}
            <div class="player-stats-wrapper">
              <div class="roster-list-card-small">
                {{ player.stats.core.goals }}
              </div>
              <div class="roster-list-card-small">
                {{ player.stats.core.assists }}
              </div>
              <div class="roster-list-card-small">
                {{ player.stats.core.saves }}
              </div>
              <div class="roster-list-card-small">
                {{ player.stats.core.shots }}
              </div>
              <div class="roster-list-card-medium">
                {{ player.stats.core.score }}
              </div>
              <div class="roster-list-card-goalpart">
                {{ player.advanced.goalParticipation }}
              </div>
              <div class="roster-list-card-rating">
                {{ player.advanced.rating }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endif %} {% if match.orange.players %}
      <div class="orange-team-roster">
        <div class="roster-heading">
          {% if match['orange']['team']['team']['image'] %}
          <img
            src="{{ match['orange']['team']['team']['image'] | default('/static/images/rocketleague.svg')}}"
            alt="{{ match['orange']['team']['team']['name'] }}"
          />
          {% else %}
          <img
            src="/static/images/rocketleague.svg"
            alt="{{ match['orange']['team']['team']['name'] }}"
          />
          {% endif %}
          <a
            href="{{ url_for('get_team', team_id = match['orange']['team']['team']['_id']) }}"
            class="matches-team-name-stats"
            >{{ match['orange']['team']['team']['name'] }}</a
          >
        </div>

        <div class="player-name-stats-wrapper">
          <div class="player-stats-names">
            {% for player in match.orange.players %}
            <a
              href="{{ url_for('get_player', player_id=player.player._id) }}"
              class="roster-list-card"
            >
              {{ player.player.tag }}
            </a>
            {% endfor %}

            <div class="stat-labels-wrapper">
              <div class="stat-label" id="goals">Goals</div>
              <div class="stat-label" id="assists">Assists</div>
              <div class="stat-label" id="saves">Saves</div>
              <div class="stat-label" id="shots">Shots</div>
              <div class="stat-label" id="score">Score</div>
              <div class="stat-label" id="goalpart">Goal Part.</div>
              <div class="stat-label" id="rating">Rating</div>
            </div>
          </div>

          <div class="player-stats-column-wrapper">
            {% for player in match.orange.players %}
            <div class="player-stats-wrapper">
              <div class="roster-list-card-small">
                {{ player.stats.core.goals }}
              </div>
              <div class="roster-list-card-small">
                {{ player.stats.core.assists }}
              </div>
              <div class="roster-list-card-small">
                {{ player.stats.core.saves }}
              </div>
              <div class="roster-list-card-small">
                {{ player.stats.core.shots }}
              </div>
              <div class="roster-list-card-medium">
                {{ player.stats.core.score }}
              </div>
              <div class="roster-list-card-goalpart">
                {{ player.advanced.goalParticipation }}
              </div>
              <div class="roster-list-card-rating">
                {{ player.advanced.rating }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endif %} {% else %}
    <div class="upcoming">Upcoming Match</div>
    {% endif %} {% if num_of_games != 0 %}
    <h2 class="ballchasing-header">Match Replays</h2>
    <div class="ballchasing-wrapper">
      {% if match.games %} {% for i in range(num_of_games) %} {% set game =
      match.games[i] %} {% if i < match.games|length %}
      <a
        href="https://ballchasing.com/replay/{{ game.ballchasing }}"
        class="ballchasing-links"
        target="”_blank”"
        >Game {{ loop.index }}</a
      >
      {% else %}
      <div class="no-replay">No data</div>
      {% endif %} {% endfor %} {% else %} {% for i in range(num_of_games) %}
      <div class="no-replay">No data</div>
      {% endfor %} {% endif %}
    </div>
    {% endif %}
    <div class="footer">
      <div class="main-section">
        <div class="footer-section-headers">Demosgg</div>
        <div class="footer-buttons">
          <a href="https://github.com/tyrohellion/demos" class="footer-button">
            <div class="footer-text">GitHub</div>
          </a>
          <a href="https://zsr.octane.gg" class="footer-button">
            <div class="footer-text">API</div>
          </a>
          <a
            href="https://liquipedia.net/rocketleague/Main_Page"
            class="footer-button"
          >
            <div class="footer-text">Liquipedia</div>
          </a>
        </div>
      </div>
      <div class="personal-section">
        <div class="footer-section-headers">My stuff</div>
        <div class="footer-buttons">
          <a href="https://x.com/tyrohellion" class="footer-button">
            <div class="footer-text">Twitter</div>
          </a>
          <a href="https://www.twitch.tv/tyrohellion" class="footer-button">
            <div class="footer-text">Twitch</div>
          </a>
          <a
            href="https://liquipedia.net/rocketleague/Tyro_(American_Player)"
            class="footer-button"
          >
            <div class="footer-text">Liquipedia</div>
          </a>
        </div>
      </div>
      <div class="thanks-section">
        <div class="footer-section-headers">Acknowledgments</div>
        <div class="footer-buttons">
          <a href="https://www.shiftrle.gg" class="footer-button">
            <div class="footer-text">ShiftRLE</div>
          </a>
          <a href="https://github.com/amas0/octanegg" class="footer-button">
            <div class="footer-text">Amas</div>
          </a>
          <a href="https://octane.gg" class="footer-button">
            <div class="footer-text">Octane.gg</div>
          </a>
        </div>
      </div>
      <div class="copyright">demosgg © 2024 - All Rights Reserved</div>
    </div>
    <script src="/static/script-1.1.js" async defer></script>
    <script>
      // Get all elements with the class containing the decimal value
      const decimalDivs = document.querySelectorAll(
        ".roster-list-card-goalpart"
      );

      // Loop through each element
      decimalDivs.forEach((decimalDiv) => {
        // Get the text content of that element and convert it to a floating-point number
        const decimalValue = parseFloat(decimalDiv.textContent);

        // Round the decimal value to the nearest whole number
        const roundedValue = Math.round(decimalValue);

        // Update the text content of the div with the rounded value
        decimalDiv.textContent = roundedValue + "%";
      });
    </script>
    <script>
      const ratingDivs = document.querySelectorAll(".roster-list-card-rating");

      // Loop through each element
      ratingDivs.forEach((ratingDiv) => {
        // Get the text content of that element and convert it to a floating-point number
        const ratingValue = parseFloat(ratingDiv.textContent);

        // Round the rating value to three decimal places
        const roundedValue = Math.round(ratingValue * 1000) / 1000; // Rounds to three decimal places
        const roundedString = roundedValue.toFixed(3);

        // Update the text content of the div with the rounded value
        ratingDiv.textContent = roundedString;
      });
    </script>
  </body>
</html>
