<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Players</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
        
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>
    
    <body>
        <div class="navbar-icon">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 6l16 0" />
                <path d="M4 12l16 0" />
                <path d="M4 18l16 0" />
              </svg>
        </div>
        <nav class="navbar">
            <div class="navbar-wrapper">
                <a href="{{ url_for('index') }}">
                    <div class="event-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                      </svg></div>
                    <h3 class="navbar-text">Home</h3>
                </a>
                <a href="{{ url_for('players') }}">
                    <div class="event-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-user-star" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                        <path d="M6 21v-2a4 4 0 0 1 4 -4h.5" />
                        <path d="M17.8 20.817l-2.172 1.138a.392 .392 0 0 1 -.568 -.41l.415 -2.411l-1.757 -1.707a.389 .389 0 0 1 .217 -.665l2.428 -.352l1.086 -2.193a.392 .392 0 0 1 .702 0l1.086 2.193l2.428 .352a.39 .39 0 0 1 .217 .665l-1.757 1.707l.414 2.41a.39 .39 0 0 1 -.567 .411l-2.172 -1.138z" />
                      </svg></div>
                    <h3 class="navbar-text">Players</h3>
                </a>

                <a class="search-container">
                    <div class="event-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-search" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 15m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M18.5 18.5l2.5 2.5" />
                        <path d="M4 6h16" />
                        <path d="M4 12h4" />
                        <path d="M4 18h4" />
                      </svg></div>
                    <h3 class="navbar-text">Search</h3>
                </a>

                <a href="{{ url_for('events') }}">
                    <div class="event-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tournament" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M4 4m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M20 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M4 12m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M4 20m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M6 12h3a1 1 0 0 1 1 1v6a1 1 0 0 1 -1 1h-3" />
                        <path d="M6 4h7a1 1 0 0 1 1 1v10a1 1 0 0 1 -1 1h-2" />
                        <path d="M14 10h4" />
                      </svg></div>
                    <h3 class="navbar-text">Events</h3>
                </a>
                <a href="{{ url_for('teams') }}">
                    <div class="event-icon"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-users-group" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 13a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M8 21v-1a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v1" />
                        <path d="M15 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M17 10h2a2 2 0 0 1 2 2v1" />
                        <path d="M5 5a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
                        <path d="M3 13v-1a2 2 0 0 1 2 -2h2" />
                      </svg></div>
                    <h3 class="navbar-text">Teams</h3>
                </a>
            </div>
            <div class="close-menu-button">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                  </svg>
            </div>
        </nav>

        <div class="fullscreen-search-container">
            <div class="search-icon-container">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler fullscreen-icon-tabler-search" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                    <path d="M21 21l-6 -6" />
                  </svg>
                <input class="search-box"
                    type="text"
                    id="searchInput"
                    name="name"
                    placeholder="Search"
                    oninput="performSearch()"
                    />

                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler fullscreen-icon-tabler-x" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M18 6l-12 12" />
                    <path d="M6 6l12 12" />
                    </svg>
            </div>

            <div class="results-container">
                <div class="results-card-container">
                    <h3 class="results-card-text">Players</h3>
                    <div class="results-box" id="playerResults"></div>
                    <a href="{{ url_for('players') }}" class="seeMore" id="playersMoreResults">Full player results</a>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Teams</h3>
                    <div class="results-box" id="teamResults"></div>
                    <a href="{{ url_for('teams') }}" class="seeMore" id="teamsMoreResults">Full team results</a>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Events</h3>
                    <div class="results-box" id="tournamentResults"></div>
                    <a href="{{ url_for('events') }}" class="seeMore" id="tourneyMoreResults">Full event results</a>
                </div>
            </div>
        </div>

        <div class="search-box-and-filters">
            <div class="search-player-page">
                <input class="search-box"
                    type="text"
                    id="playerSearchInput"
                    name="name"
                    placeholder="Search players"
                    oninput="updatePlayerPageResults()"
                    />
            </div>
            <div class="filter-buttons-wrapper">
                <div class="filter-button all-filter" data-region="ALL">ALL</div>
                <div class="filter-button na-filter" data-region="NA">NA</div>
                <div class="filter-button eu-filter" data-region="EU">EU</div>
                <div class="filter-button sam-filter" data-region="SAM">SAM</div>
                <div class="filter-button mena-filter" data-region="ME">MENA</div>
                <div class="filter-button oce-filter" data-region="OCE">OCE</div>
                <div class="filter-button apac-filter" data-region="ASIA">APAC</div>
                <div class="filter-button ssa-filter" data-region="AF">SSA</div>
                <div class="close-filter-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M18 6l-12 12" />
                        <path d="M6 6l12 12" />
                      </svg>
                </div>
            </div>
            <div class="filter-button-mobile">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-filter" viewBox="0 0 24 24" stroke-width="1.5" stroke="#bec7e4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4h16v2.172a2 2 0 0 1 -.586 1.414l-4.414 4.414v7l-6 2v-8.5l-4.48 -4.928a2 2 0 0 1 -.52 -1.345v-2.227z" />
                  </svg>
            </div>
        </div>

            <div class="results-player-page" id="playerResultsCard"></div>
            <div class="footer">
                <div class="main-section">
                    <div class="footer-section-headers">Demosgg</div>
                    <div class="footer-buttons">
                        <a href="https://github.com/tyrohellion/demos" class="footer-button">
                            <div class="footer-text">GitHub</div>
                        </a>
                        <a href="https://zsr.octane.gg" class="footer-button">
                            <div class="footer-text">API</div>
                        </a>
                        <a href="https://liquipedia.net/rocketleague/Main_Page" class="footer-button">
                            <div class="footer-text">Liquipedia</div>
                        </a>
                    </div>
                </div>
                <div class="personal-section">
                    <div class="footer-section-headers">My stuff</div>
                    <div class="footer-buttons">
                        <a href="https://x.com/tyrohellion" class="footer-button">
                            <div class="footer-text">Twitter</div>
                        </a>
                        <a href="https://www.twitch.tv/tyrohellion" class="footer-button">
                            <div class="footer-text">Twitch</div>
                        </a>
                        <a href="https://liquipedia.net/rocketleague/Tyro_(American_Player)" class="footer-button">
                            <div class="footer-text">Liquipedia</div>
                        </a>
                    </div>
                </div>
                <div class="thanks-section">
                    <div class="footer-section-headers">Acknowledgments</div>
                    <div class="footer-buttons">
                        <a href="https://www.shiftrle.gg" class="footer-button">
                            <div class="footer-text">ShiftRLE</div>
                        </a>
                        <a href="https://github.com/amas0/octanegg" class="footer-button">
                            <div class="footer-text">Amas</div>
                        </a>
                        <a href="https://octane.gg" class="footer-button">
                            <div class="footer-text">Octane.gg</div>
                        </a>
                    </div>
                </div>
                <div class="copyright">
                    demosgg © 2024 - All Rights Reserved
                </div>
            </div>
        <script src="/static/script.js" async defer></script>
        <script>
    let allPlayers = [];
    let pageCount = 1;
    let perPage = 50;
    let isLoading = false;

    const regionCountryMap = {
    'NA': ['us', 'ca', 'mx', 'bz', 'cr', 'sv', 'gt', 'hn', 'ni', 'pa'],
    'EU': ['fr', 'de', 'es', 'it', 'nl', 'pl', 'se', 'fi', 'no', 'dk', 'be', 'at', 'ch', 'pt', 'gr', 'cz', 'hu', 'ro', 'bg', 'hr', 'ie', 'lt', 'lv', 'ee', 'si', 'sk', 'lu', 'mt', 'cy'],
    'SAM': ['br', 'ar', 'cl', 'co', 'pe', 'bo', 'ec', 'gy', 'py', 'sr', 'uy', 've'],
    'ME': ['sa', 'ae', 'eg', 'ma', 'dz', 'qa', 'kw', 'bh', 'jo', 'lb', 'om', 'ps', 'qa', 'sy', 'tn', 'ye'],
    'OCE': ['au', 'nz', 'fj', 'pg', 'sb', 'vu'],
    'ASIA': ['jp', 'kr', 'cn', 'tw', 'in', 'ph', 'th', 'sg', 'my', 'vn', 'bd', 'id', 'kh', 'la', 'mm', 'mv', 'np', 'pk'],
    'AF': ['za', 'ng', 'ke', 'gh', 'dz', 'sz', 'bj', 'bw', 'bf', 'bi', 'cv', 'cm', 'cf', 'td', 'km', 'cd', 'dj', 'gq', 'er', 'et', 'ga', 'gm', 'gn', 'gw', 'ci', 'lr', 'ly', 'mg', 'mw', 'ml', 'mr', 'mu', 'ma', 'mz', 'na', 'ne', 'rw', 'st', 'sn', 'sc', 'sl', 'so', 'za', 'ss', 'sd', 'sz', 'tz', 'tg', 'tn', 'ug', 'zm', 'zw']
    };

    function fetchPlayers(query = '', append = false) {
        if (isLoading) return;
        isLoading = true;
        fetch(`/search?query=${query}&page=${pageCount}&per_page=${perPage}`)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Player Search: Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                if (append) {
                    allPlayers = allPlayers.concat(data.players);
                } else {
                    allPlayers = data.players;
                }
                updatePlayerPageResults();
                isLoading = false;
            })
            .catch(error => {
                console.error('Player Search Error:', error);
                isLoading = false;
            });
    }

    function updatePlayerPageResults() {
        var query = document.getElementById("playerSearchInput").value.toLowerCase();
        var region = document.querySelector('.filter-button.selected')?.getAttribute('data-region') || 'ALL';
        var countries = regionCountryMap[region] || [];

        const filteredPlayers = allPlayers.filter(player => {
            const matchesQuery = player.tag.toLowerCase().includes(query);
            const matchesCountry = region === 'ALL' || countries.includes(player.country);
            return matchesQuery && matchesCountry;
        });

        clearPlayerResults();
        updatePlayerResultsPage(filteredPlayers);
    }

    function clearPlayerResults() {
        var playerResults = document.getElementById("playerResultsCard");
        playerResults.innerHTML = "";
    }

    function updatePlayerResultsPage(players) {
        var playerResults = document.getElementById("playerResultsCard");

        players.sort(function(a, b) {
            if (a.team && a.team.image !== undefined && (!b.team || b.team.image === undefined)) {
                return -1;
            }
            if ((!a.team || a.team.image === undefined) && b.team && b.team.image !== undefined) {
                return 1;
            }
            return 0;
        });

        players.forEach(function(player) {
            var divWrapper = document.createElement("div");
            var divTagWrapper = document.createElement("div");
            divWrapper.classList.add("results-item");
            divTagWrapper.classList.add("player-card-tags");

            if (player.tag.trim() !== "") {
                var divTag = document.createElement("div");
                divTag.classList.add("player-tag");
                divTag.textContent = player.tag;
                divWrapper.appendChild(divTag);
            }

            if (player.name) {
                var pName = document.createElement("p");
                pName.classList.add("player-name");
                pName.textContent = player.name;
                divWrapper.appendChild(pName);
            }

            if (player.team && player.team.image !== undefined) {
                var teamDiv = document.createElement("div");
                var img = document.createElement("img");
                img.classList.add("team-image");
                img.src = player.team.image;
                img.alt = player.team.name;
                teamDiv.appendChild(img);
                divWrapper.appendChild(teamDiv);
            }

            if (player.country) {
                var pCountry = document.createElement("p");
                pCountry.classList.add("player-country");
                pCountry.textContent = player.country;
                divTagWrapper.appendChild(pCountry);
                divWrapper.appendChild(divTagWrapper);
            }

            if (player.coach) {
                var pCoach = document.createElement("p");
                pCoach.classList.add("player-coach-tag");
                pCoach.textContent = "Coach";
                divTagWrapper.appendChild(pCoach);
                divWrapper.appendChild(divTagWrapper);
            } else if (player.substitute) {
                var pSub = document.createElement("p");
                pSub.classList.add("player-sub-tag");
                pSub.textContent = "Substitute";
                divTagWrapper.appendChild(pSub);
                divWrapper.appendChild(divTagWrapper);
            } else {
                var pPlayer = document.createElement("p");
                pPlayer.classList.add("player-player-tag");
                pPlayer.textContent = "Player";
                divTagWrapper.appendChild(pPlayer);
                divWrapper.appendChild(divTagWrapper);
            }

        divWrapper.addEventListener('click', function() {
                window.location.href = '/player/' + player._id;
            });

            playerResults.appendChild(divWrapper);
        });
    }

    function updatePlayerRegion(event) {
        var selectedRegion = event.target.getAttribute('data-region');
        document.querySelectorAll('.filter-button').forEach(btn => btn.classList.remove('selected'));
        event.target.classList.add('selected');
        updatePlayerPageResults();
    }

    document.getElementById('playerSearchInput').addEventListener('input', () => {
        pageCount = 1;
        fetchPlayers(document.getElementById('playerSearchInput').value);
    });

    document.querySelectorAll('.filter-button').forEach(button => {
        button.addEventListener('click', event => {
            updatePlayerRegion(event);
        });
    });

    window.addEventListener('scroll', () => {
        if ((window.innerHeight + window.scrollY) >= document.body.scrollHeight && !isLoading) {
            pageCount++;
            fetchPlayers(document.getElementById('playerSearchInput').value, true);
        }
    });

    fetchPlayers();
        </script>
    <script>
        let filterMenu = document.querySelector('.filter-button-mobile');
        let filterMenuActive = document.querySelector('.filter-buttons-wrapper');
        let closeFilterMenu = document.querySelector('.close-filter-menu');
        
        filterMenu.onclick = function() {
            filterMenuActive.classList.toggle('active');
        }

        closeFilterMenu.onclick = function() {
            filterMenuActive.classList.toggle('active');
        }
    </script>
    </body>
</html>
