<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Teams</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">

        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>
    
    <body>
        <nav class="navbar">
            <div class="navbar-icon">
                <i data-feather="menu"></i>
            </div>
            <div class="navbar-wrapper">
                <a href="{{ url_for('index') }}">
                    <i data-feather="home"></i>
                    <h3>Home</h3>
                </a>
                <a href="{{ url_for('players') }}">
                    <i data-feather="user"></i>
                    <h3>Players</h3>
                </a>

                <a class="search-container">
                    <i data-feather="search"></i>
                    <h3>Search</h3>
                </a>

                <a href="{{ url_for('events') }}">
                    <i data-feather="award"></i>
                    <h3>Events</h3>
                </a>
                <a href="{{ url_for('teams') }}">
                    <i data-feather="users"></i>
                    <h3>Teams</h3>
                </a>
            </div>
        </nav>

        <div class="fullscreen-search-container">
            <div class="search-icon-container">
                <i class="search-icon-2" data-feather="search"></i>
                <input class="search-box"
                    type="text"
                    id="searchInput"
                    name="name"
                    placeholder="Search"
                    oninput="performSearch()"
                    />

                <i class="x-icon" data-feather="x"></i>
            </div>

            <div class="results-container">
                <div class="results-card-container">
                    <h3 class="results-card-text">Players</h3>
                    <div class="results-box" id="playerResults"></div>
                    <a href="{{ url_for('players') }}" class="seeMore" id="playersMoreResults">Full player results</a>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Teams</h3>
                    <div class="results-box" id="teamResults"></div>
                    <a href="{{ url_for('teams') }}" class="seeMore" id="teamsMoreResults">Full team results</a>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Events</h3>
                    <div class="results-box" id="tournamentResults"></div>
                    <a href="{{ url_for('events') }}" class="seeMore" id="tourneyMoreResults">Full event results</a>
                </div>
            </div>
        </div>

            <div class="search-player-page">
                <input class="search-box"
                    type="text"
                    id="teamSearchInput"
                    name="name"
                    placeholder="Search teams"
                    oninput="updateTeamPageResults()"
                    />
            </div>

            <div class="results-player-page" id="teamResultsCard"></div>

        <script src="https://unpkg.com/feather-icons"></script>
        <script>feather.replace()</script>
        <script src="/static/script.js" async defer></script>
    </body>
</html>