<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>demos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- HTML in your document's head -->
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>
    
    <body>
        <nav class="sidebar">
            <div class="sidebar-icon">
                <i data-feather="sidebar"></i>
            </div>

            <div class="sidebar-body">
                <a href="{{ url_for('index') }}">
                    <i data-feather="home"></i>
                    <h3>Home</h3>
                    <div class="tooltip">Home</div>
                </a>
                <a href="{{ url_for('news') }}">
                    <i data-feather="file-text"></i>
                    <h3>News</h3>
                    <div class="tooltip">News</div>
                </a>
                <a href="{{ url_for('matches') }}">
                    <i data-feather="zap"></i>
                    <h3>Matches</h3>
                    <div class="tooltip">Matches</div>
                </a>
                <a href="{{ url_for('events') }}">
                    <i data-feather="award"></i>
                    <h3>Events</h3>
                    <div class="tooltip">Events</div>
                </a>
                <a href="{{ url_for('stats') }}">
                    <i data-feather="bar-chart-2"></i>
                    <h3>Stats</h3>
                    <div class="tooltip">Stats</div>
                </a>
                <a href="{{ url_for('teams') }}">
                    <i data-feather="users"></i>
                    <h3>Teams</h3>
                    <div class="tooltip">Teams</div>
                </a>
                <a href="{{ url_for('players') }}">
                    <i data-feather="user"></i>
                    <h3>Players</h3>
                    <div class="tooltip">Players</div>
                </a>
            </div>
        </nav>

        <div class="fullscreen-search-container">
            <div class="search-icon-container">
                <i class="search-icon-2" data-feather="search"></i>
                <input class="search-box"
                    type="text"
                    id="searchInput"
                    name="name"
                    placeholder="Search"
                    oninput="performSearch()"
                    />

                <i class="x-icon" data-feather="x"></i>
            </div>

            <div class="results-container">
                <div class="results-card-container">
                    <h3 class="results-card-text">Players</h3>
                    <div class="results-box" id="playerResults">
                        <!-- Player search results will be dynamically added here -->
                    </div>
                    <div class="seeMore" id="playersMoreResults">See more results</div>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Teams</h3>
                    <div class="results-box" id="teamResults">
                        <!-- Team search results will be dynamically added here -->
                    </div>
                    <div class="seeMore" id="teamsMoreResults">See more results</div>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Tournaments</h3>
                    <div class="results-box" id="tournamentResults">
                        <!-- Tournament search results will be dynamically added here -->
                    </div>
                    <div class="seeMore" id="tourneyMoreResults">See more results</div>
                </div>
            </div>
        </div>

        <div class="content-container">

        <div class="search-container">
            <div class="search-button">
                <i class="search-icon" data-feather="search"></i>
                <h1 class="Search-text">Search</h1>
            </div>
        </div>


        <!-- I know all the classes say player I just dont feel like changing the names -->
        <div class="main-player-background">
            {% if team.image %}
            <div class="player-header-container">
                <img class="player-img" src="{{ team.image | default('/static/images/rocketleague.svg') }}" alt="{{ team.name }}">
                <div class="player-info">
                    <div class="player-tag">{{ team.name }}</div>
                    <div class="player-subheadings">
                        {% if team.region is defined %}
                        <div class="player-country">
                            <i data-feather="flag"></i>
                            {{ team.region }}
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="player-header-container">
                <img class="player-img" src="/static/images/rocketleague.svg" alt="{{ team.name }}">
                <div class="player-info">
                    <div class="player-tag">{{ team.name }}</div>
                    <div class="player-subheadings">
                        {% if team.region is defined %}
                        <div class="player-country">{{ team.region }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if active_roster%}
            <div class="active-roster-wrapper">
            {% for player in active_roster %}
                {% if player.get('coach', False) %}
                <a href="{{ url_for('get_player', player_id=player._id) }}">
                    <div class="coach-tag">{{ player.tag }}</div>
                    <div class="tooltip">Coach</div>
                </a>
                {% elif player.get('substitute', False) %}
                <a href="{{ url_for('get_player', player_id=player._id) }}">
                    <div class="sub-tag">{{ player.tag }}</div>
                    <div class="tooltip">Substitute</div>
                </a>
                {% else %}
                <a href="{{ url_for('get_player', player_id=player._id) }}">
                    <div class="player-display">{{ player.tag }}</div>
                    <div class="tooltip">Player</div>
                </a>
                {% endif %}
            {% endfor %}
            {% else %}
            <div class="no-roster">No roster found</div>
            {% endif %}
        </div>

        <h2 class="recent-results-header">{{ team.name }}'s Recent Results</h2>
            {% for match in matches %}
            <div class="matches-wrapper" id="matches-container">
                    <div class="match-card-wrapper">
                        <a href="{{ url_for('get_match', match_id=match['_id']) }}" id="match-link"></a>
                        <div class="match-date" data-utc="{{match['date']}}"></div>
                            <div class="match-card-header">
                                <a href="{{ url_for('get_event', event_id=match['event']['_id']) }}">
                                    <div class="matches-event-name">{{ match['event']['name'] }}</div>
                                </a>
                                <i class="match-arrow" data-feather="chevron-right"></i>
                                <div class="matches-event-stage">{{ match['stage']['name'] }}</div>
                                {% if match['stage']['lan'] %}
                                <div class="lan-wrapper">
                                    <div class="lan-text">Lan</div>
                                    <i class="lan-icon" data-feather="map-pin"></i>
                                </div>
                            {% else %}
                            <div class="online-wrapper">
                                <div class="online-text">Online</div>
                                <i class="online-icon" data-feather="globe"></i>
                            </div>
                            {% endif %}
                            </div>
                            <div class="img-score-wrapper">
                                <div class="blue-team-wrapper">
                                    {% if match['blue']['team']['team']['image'] %}
                                    <img src="{{ match['blue']['team']['team']['image'] | default('/static/images/rocketleague.svg')}}" alt="{{ match['blue']['team']['team']['name'] }}">
                                    {% else %}
                                    <img src="/static/images/rocketleague.svg" alt="{{ match['blue']['team']['team']['name'] }}">
                                    {% endif %}
                                    {% if match['blue']['score'] %}
                                    <div class="matches-orange-score">{{ match['blue']['score'] }}</div>
                                    {% else %}
                                    <div class="matches-orange-score">0</div>
                                    {% endif %}
                                </div>
                                <div class="orange-team-wrapper">
                                    {% if match['orange']['score'] %}
                                    <div class="matches-orange-score">{{ match['orange']['score'] }}</div>
                                    {% else %}
                                    <div class="matches-orange-score">0</div>
                                    {% endif %}
                                    {% if match['orange']['team']['team']['image'] %}
                                    <img src="{{ match['orange']['team']['team']['image'] | default('/static/images/rocketleague.svg')}}" alt="{{ match['orange']['team']['team']['name'] }}">
                                    {% else %}
                                    <img src="/static/images/rocketleague.svg" alt="{{ match['orange']['team']['team']['name'] }}">
                                    {% endif %}
                                </div>
                            </div>
                                <a href="{{ url_for('get_team', team_id = match['orange']['team']['team']['_id']) }}" class="orange-name">
                                    <div class="orange-name-text">{{ match['orange']['team']['team']['name'] }}</div>
                                </a>
                                <a href="{{ url_for('get_team', team_id = match['blue']['team']['team']['_id']) }}" class="blue-name">
                                    <div class="blue-name-text">{{ match['blue']['team']['team']['name'] }}</div>
                                </a>
                    </div>
                </div>
            {% endfor %}

            <div class="pagination">
                {% if page > 1 %}
                <a href="{{ url_for('get_team', team_id=team._id, page=page-1) }}" id="prevPageButton">Prev</a>
                {% endif %}
                {% if  page >= 0 %}
                <a href="{{ url_for('get_team', team_id=team._id, page=page+1) }}" id="nextPageButton">Next</a>
                {% endif %}
            </div>
            
        </div>
    </div>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>feather.replace()</script>
        <script src="/static/script.js" async defer></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                let currentPage = 1;

                // Function to fetch matches with a specific page number
                function fetchMatches(page) {
                    // Construct the URL with the page parameter
                    const url = `/team/{{ team._id }}?page=${page}`;

                    // Fetch data from the API
                    fetch(url)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            console.log(data); // Log the data to ensure it's coming correctly
                            // Process the data and append it to your HTML
                            appendMatchesToDOM(data.matches); // Example: appendMatchesToDOM is a function that appends matches to the HTML
                        })
                        .catch(error => {
                            console.error('There was a problem with the fetch operation:', error);
                        });
                }

                // Initial fetch when the page loads
                fetchMatches(currentPage);

                // Function to handle clicking on the next page button
                nextPageButton.addEventListener('click', function() {
                    currentPage++;
                    fetchMatches(currentPage);
                });

                // Function to handle clicking on the previous page button
                prevPageButton.addEventListener('click', function() {
                    if (currentPage > 1) {
                        currentPage--;
                        fetchMatches(currentPage);
                    }
                });
            });

                            // Function to count the number of elements with the class "match-card-wrapper"
            function countMatchCardWrapperElements() {
                const matchCardWrappers = document.querySelectorAll('.match-card-wrapper');
                return matchCardWrappers.length;
            }

            // Function to hide the next button if less than 10 elements
            function hideNextButtonIfLessThanTenElements() {
                const matchCount = countMatchCardWrapperElements();
                const nextButton = document.getElementById('nextPageButton');
                if (matchCount == 10) {
                    nextButton.style.display = 'flex';
                }
                else {
                    nextButton.style.display = 'none';
                }
            }

            // Call the function initially
            hideNextButtonIfLessThanTenElements();
        </script>
    </body>
</html>