<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>demos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">

        <!-- HTML in your document's head -->
        <link rel="preconnect" href="https://rsms.me/">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>
    
    <body>
        <nav class="sidebar">
            <div class="sidebar-icon">
                <i data-feather="sidebar"></i>
            </div>

            <div class="sidebar-body">
                <a href="{{ url_for('index') }}">
                    <i data-feather="home"></i>
                    <h3>Home</h3>
                    <div class="tooltip">Home</div>
                </a>
                <a href="{{ url_for('news') }}">
                    <i data-feather="file-text"></i>
                    <h3>News</h3>
                    <div class="tooltip">News</div>
                </a>
                <a href="{{ url_for('matches') }}">
                    <i data-feather="zap"></i>
                    <h3>Matches</h3>
                    <div class="tooltip">Matches</div>
                </a>
                <a href="{{ url_for('events') }}">
                    <i data-feather="award"></i>
                    <h3>Events</h3>
                    <div class="tooltip">Events</div>
                </a>
                <a href="{{ url_for('stats') }}">
                    <i data-feather="bar-chart-2"></i>
                    <h3>Stats</h3>
                    <div class="tooltip">Stats</div>
                </a>
                <a href="{{ url_for('teams') }}">
                    <i data-feather="users"></i>
                    <h3>Teams</h3>
                    <div class="tooltip">Teams</div>
                </a>
                <a href="{{ url_for('players') }}">
                    <i data-feather="user"></i>
                    <h3>Players</h3>
                    <div class="tooltip">Players</div>
                </a>
            </div>
        </nav>

        <div class="fullscreen-search-container">
            <div class="search-icon-container">
                <i class="search-icon-2" data-feather="search"></i>
                <input class="search-box"
                    type="text"
                    id="searchInput"
                    name="name"
                    placeholder="Search"
                    oninput="performSearch()"
                    />

                <i class="x-icon" data-feather="x"></i>
            </div>

            <div class="results-container">
                <div class="results-card-container">
                    <h3 class="results-card-text">Players</h3>
                    <div class="results-box" id="playerResults">
                        <!-- Player search results will be dynamically added here -->
                    </div>
                    <div class="seeMore" id="playersMoreResults">See more results</div>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Teams</h3>
                    <div class="results-box" id="teamResults">
                        <!-- Team search results will be dynamically added here -->
                    </div>
                    <div class="seeMore" id="teamsMoreResults">See more results</div>
                </div>
                <div class="results-card-container">
                    <h3 class="results-card-text">Tournaments</h3>
                    <div class="results-box" id="tournamentResults">
                        <!-- Tournament search results will be dynamically added here -->
                    </div>
                    <div class="seeMore" id="tourneyMoreResults">See more results</div>
                </div>
            </div>
        </div>

        <div class="content-container">

        <div class="search-container">
            <div class="search-button">
                <i class="search-icon" data-feather="search"></i>
                <h1 class="Search-text">Search</h1>
            </div>
        </div>


        <!-- I know all the classes say player I just dont feel like changing the names -->
        <div class="main-player-background">
            {% if team.image %}
            <div class="player-header-container">
                <img class="player-img" src="{{ team.image | default('/static/images/rocketleague.svg') }}" alt="{{ team.name }}">
                <div class="player-info">
                    <div class="player-tag">{{ team.name }}</div>
                    <div class="player-subheadings">
                        {% if team.region is defined %}
                        <div class="player-country">{{ team.region }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
            <div class="player-header-container">
                <img class="player-img" src="/static/images/rocketleague.svg" alt="{{ team.name }}">
                <div class="player-info">
                    <div class="player-tag">{{ team.name }}</div>
                    <div class="player-subheadings">
                        {% if team.region is defined %}
                        <div class="player-country">{{ team.region }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endif %}
            {% if active_roster%}
            <div class="active-roster-wrapper">
            {% for player in active_roster %}
                {% if player.get('coach', False) %}
                <div class="player-tag">{{ player.tag }}
                    <div class="tooltip">Coach</div>
                </div>
                {% elif player.get('substitute', False) %}
                <div class="player-tag">{{ player.tag }}
                    <div class="tooltip">Substitute</div>
                </div>
                {% else %}
                <div class="player-tag">{{ player.tag }}
                    <div class="tooltip">Player</div>
                </div>
                {% endif %}
            {% endfor %}
            {% else %}
            <div class="no-roster">No roster found</div>
            {% endif %}
        </div>
        </div>
    </div>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>feather.replace()</script>
        <script src="/static/css/script.js" async defer></script>
    </body>
</html>